{% extends 'partials/main.html.twig' %}

{% block stylesheets %}

{{ parent() }}

<!-- jsvectormap css -->
<link href="{{ asset('libs/jsvectormap/css/jsvectormap.min.css') }}" rel="stylesheet" type="text/css" />

<!--Swiper slider css-->
<link href="{{ asset('libs/swiper/swiper-bundle.min.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block content %}

<div class="container-fluid">

    <div class="row">
        <div class="col">
            <div class="h-100">
                <div class="row mb-3 pb-1">
                    <div class="col-12">
                        <div class="d-flex align-items-lg-center flex-lg-row flex-column">
                            <div class="flex-grow-1">
                                <h2 class="fs-16 mb-1">Obtener Ciudad y Estado por Código Postal</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        {{ form_start(form) }}
                        {{ form_row(form.ZIPCode) }}
                        <button class="btn btn-primary">Buscar Ciudad y Estado</button>
                        {{ form_end(form) }}
                    </div>
                    {% if result %}

                    <div class="col-6 mt-3">
                        {% if result.error is defined %}
                        <div class="card">
                            <div class="card-body">
                                <h2 class="text-danger">Ciudad y Estado no encontrado</h2>
                            </div>
                        </div>
                        {% else %}
                        <div class="card">
                            <div class="card-body">
                                <h2>Ciudad y Estado encontrado:</h2>
                                <ul>
                                    <li><strong>Ciudad:</strong> {{ result.city }}</li>
                                    <li><strong>Estado:</strong> {{ result.state }}</li>
                                    <li><strong>Código Postal:</strong> {{ result.ZIPCode }}</li>
                                </ul>
                            </div>
                        </div>

                        {% endif %}


                    </div>
                </div>

                {% endif %}

            </div> <!-- end .h-100-->
        </div> <!-- end col -->
    </div>

</div>

{% endblock %}

{% block javascripts %}

{{ parent() }}

<!-- apexcharts -->
<script src="{{ asset('libs/apexcharts/apexcharts.min.js') }}"></script>

<!-- Dashboard init -->
<script src="{{ asset('js/pages/dashboard-crm.init.js') }}"></script>


{% endblock %}