{% extends 'partials/main.html.twig' %}

{% block stylesheets %}

{{ parent() }}

<!-- jsvectormap css -->
<link href="{{ asset('libs/jsvectormap/css/jsvectormap.min.css') }}" rel="stylesheet" type="text/css" />

<!--Swiper slider css-->
<link href="{{ asset('libs/swiper/swiper-bundle.min.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block content %}

<div class="container-fluid">

    <div class="row">
        <div class="col">
            <div class="h-100">
                <div class="row mb-3 pb-1">
                    <div class="col-12">
                        <div class="d-flex align-items-lg-center flex-lg-row flex-column">
                            <div class="flex-grow-1">
                                <h2 class="fs-16 mb-1">Direcciones</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-column h-100">
                            <div class="row">
                                <div class="col-4">
                                    <a href="{{ path('app_addresses_address') }}">
                                        <div class="card card-animate" style="height: 140px;">
                                            <div class="card-body">
                                                <div class="text-center">
                                                    <div>
                                                        <p
                                                            class="text-uppercase fw-medium text-muted text-truncate mb-0 mt-2">
                                                            Validar dirección
                                                        </p>
                                                    </div>
                                                    <div class="mt-4">
                                                        <span class="fs-2">
                                                            <i class="ri-road-map-line"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div><!-- end card body -->
                                        </div> <!-- end card-->
                                    </a>
                                </div> <!-- end col-->
                                <div class="col-4">
                                    <a href="{{ path('app_addresses_city_and_state') }}">
                                        <div class="card card-animate" style="height: 140px;">
                                            <div class="card-body">
                                                <div class="text-center">
                                                    <div>
                                                        <p
                                                            class="text-uppercase fw-medium text-muted text-truncate mb-0 mt-2">
                                                            Obtener Ciudad y Estado por Código Postal
                                                        </p>
                                                    </div>
                                                    <div class="mt-4">
                                                        <span class="fs-2">
                                                            <i class="ri-treasure-map-line"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div><!-- end card body -->
                                        </div> <!-- end card-->
                                    </a>
                                </div> <!-- end col-->
                                <div class="col-4">
                                    <a href="{{ path('app_addresses_zip_code') }}">
                                        <div class="card card-animate" style="height: 140px;">
                                            <div class="card-body">
                                                <div class="text-center">
                                                    <div>
                                                        <p
                                                            class="text-uppercase fw-medium text-muted text-truncate mb-0 mt-2">
                                                            Obtener datos postales por dirección
                                                        </p>
                                                    </div>
                                                    <div class="mt-4">
                                                        <span class="fs-2">
                                                            <i class="ri-mail-send-line"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div><!-- end card body -->
                                        </div> <!-- end card-->
                                    </a>
                                </div> <!-- end col-->
                            </div> <!-- end row-->
                        </div>
                    </div>
                </div>
            </div> <!-- end .h-100-->
        </div> <!-- end col -->
    </div>

</div>

{% endblock %}

{% block javascripts %}

{{ parent() }}

<!-- apexcharts -->
<script src="{{ asset('libs/apexcharts/apexcharts.min.js') }}"></script>

<!-- Dashboard init -->
<script src="{{ asset('js/pages/dashboard-crm.init.js') }}"></script>


{% endblock %}