{% extends 'partials/main.html.twig' %}

{% block stylesheets %}

{{ parent() }}

<!-- jsvectormap css -->
<link href="{{ asset('libs/jsvectormap/css/jsvectormap.min.css') }}" rel="stylesheet" type="text/css" />

<!--Swiper slider css-->
<link href="{{ asset('libs/swiper/swiper-bundle.min.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block content %}

<div class="container-fluid">
                    
    <div class="row">
    <div class="col-lg-12">
        <div class="card" id="customerList">

            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1 text-uppercase">
                    Envíos registrados en la oficina / <span id="all-data">Datos cargados correctamente</span>
                </h4>
            </div>

            <div class="card-body">
                <div>

                    
                    
                    
                    <ul class="nav nav-tabs nav-custom-light arrow-navtabs nav-tabs-custom nav-primary mb-3" role="tablist">
                                                    <li class="nav-item">
                                <a class="nav-link active bg-light py-3" href="/es/employee/mailitem/inoffice/index" aria-selected="true">
                                    <i class="ri-inbox-archive-line me-1 align-bottom"></i> Envíos en oficina
                                </a>
                            </li>
                                                    <li class="nav-item">
                                <a class="nav-link  py-3" href="/es/employee/mailitem/indistribution/index" aria-selected="false">
                                    <i class="ri-inbox-unarchive-line me-1 align-bottom"></i> Envíos en proceso de distribución
                                </a>
                            </li>
                                                    <li class="nav-item">
                                <a class="nav-link  py-3" href="/es/employee/mailitem/delivered/index" aria-selected="false">
                                    <i class="ri-mail-check-line me-1 align-bottom"></i> Envíos entregados
                                </a>
                            </li>
                                                    <li class="nav-item">
                                <a class="nav-link  py-3" href="/es/employee/mailitem/failed/index" aria-selected="false">
                                    <i class="ri-mail-close-line me-1 align-bottom"></i> Envíos fallidos
                                </a>
                            </li>
                                            </ul>
                    <form id="form-table-search" method="post">
                        <div id="datatablepage_wrapper" class="dt-container dt-bootstrap5"><div class="dt-buttons btn-group flex-wrap float-end ms-2" style="display: block;"> <button class="btn btn-secondary buttons-pdf buttons-html5 btn-sm btn-primary btn-label waves-effect waves-light" tabindex="0" aria-controls="datatablepage" type="button"><span>Exportar a PDF</span></button> <div class="btn-group"><button class="btn btn-secondary buttons-collection dropdown-toggle buttons-colvis btn-sm btn-primary btn-label waves-effect waves-light" tabindex="0" aria-controls="datatablepage" type="button" aria-haspopup="dialog"><span>Visibilidad</span></button></div> </div><div class="dt-length"><label for="dt-length-0">Mostrar <select name="datatablepage_length" aria-controls="datatablepage" class="form-select form-select-sm" id="dt-length-0"><option value="100">100</option><option value="500">500</option><option value="1000">1.000</option></select> registros</label></div><div class="dt-search"><label for="dt-search-0">Buscar:</label><input type="search" class="form-control form-control-sm" id="dt-search-0" placeholder="" aria-controls="datatablepage"></div><div class="dt-scroll"><div class="dt-scroll-head" style="overflow: hidden; position: relative; border: 0px; width: 100%;"><div class="dt-scroll-headInner" style="box-sizing: content-box; width: 1289.2px; padding-right: 0px;"><table class="table table-hover table-bordered align-middle dt-responsive nowrap table-striped-columns dataTable" style="margin-left: 0px; width: 1289.2px;"><thead class="table-light text-muted">
                            <tr role="row"><th data-dt-column="0" class="select-checkbox dt-orderable-none" rowspan="1" colspan="1" aria-label="
                                    
                                        
                                    
                                "><span class="dt-column-title"></span><span class="dt-column-order"></span></th><th class="sort dt-orderable-asc dt-orderable-desc dt-ordering-desc" data-sort="id" data-dt-column="1" rowspan="1" colspan="1" aria-sort="descending" aria-label="ID: Activate to remove sorting" tabindex="0"><span class="dt-column-title" role="button">ID</span><span class="dt-column-order"></span></th><th class="sort dt-orderable-asc dt-orderable-desc" data-sort="code" data-dt-column="2" rowspan="1" colspan="1" aria-label="CÓDIGO: Activate to sort" tabindex="0"><span class="dt-column-title" role="button">CÓDIGO</span><span class="dt-column-order"></span></th><th class="sort dt-orderable-asc dt-orderable-desc" data-sort="dispatchId" data-dt-column="3" rowspan="1" colspan="1" aria-label="DESPACHO: Activate to sort" tabindex="0"><span class="dt-column-title" role="button">DESPACHO</span><span class="dt-column-order"></span></th><th class="sort dt-orderable-asc dt-orderable-desc" data-sort="receptacleId" data-dt-column="4" rowspan="1" colspan="1" aria-label="ENVASE: Activate to sort" tabindex="0"><span class="dt-column-title" role="button">ENVASE</span><span class="dt-column-order"></span></th><th class="sort dt-orderable-asc dt-orderable-desc" data-sort="weightKgMailItemContent" data-dt-column="5" rowspan="1" colspan="1" aria-label="PESO: Activate to sort" tabindex="0"><span class="dt-column-title" role="button">PESO</span><span class="dt-column-order"></span></th><th class="sort dt-orderable-asc dt-orderable-desc" data-sort="destName" data-dt-column="6" rowspan="1" colspan="1" aria-label="DESTINATARIO: Activate to sort" tabindex="0"><span class="dt-column-title" role="button">DESTINATARIO</span><span class="dt-column-order"></span></th><th class="sort dt-orderable-asc dt-orderable-desc" data-sort="serviceName" data-dt-column="7" rowspan="1" colspan="1" aria-label="SERVICIO: Activate to sort" tabindex="0"><span class="dt-column-title" role="button">SERVICIO</span><span class="dt-column-order"></span></th><th class="sort dt-orderable-asc dt-orderable-desc" data-sort="dateCreated" data-dt-column="8" rowspan="1" colspan="1" aria-label="CREADO: Activate to sort" tabindex="0"><span class="dt-column-title" role="button">CREADO</span><span class="dt-column-order"></span></th><th data-dt-column="9" rowspan="1" colspan="1" class="dt-orderable-none" aria-label="
                                    
                                        
                                            
                                        
                                    
                                "><span class="dt-column-title"></span><span class="dt-column-order"></span></th></tr>
                            <tr id="btn-datatable-filter" style="" role="row"><th data-dt-column="0" class="select-checkbox dt-orderable-none" rowspan="1" colspan="1" aria-label="
                                    
                                        
                                    
                                "><span class="dt-column-title">
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox" id="checkAll">
                                    </div>
                                </span><span class="dt-column-order"></span></th><th data-dt-column="1" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc dt-ordering-desc" aria-sort="descending" aria-label="ID: Activate to remove sorting" tabindex="0"><span class="dt-column-title" role="button">
                                    <input type="text" class="form-control form-control-sm" id="id">
                                </span><span class="dt-column-order"></span></th><th data-dt-column="2" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="CÓDIGO: Activate to sort" tabindex="0"><span class="dt-column-title" role="button">
                                    <input type="text" class="form-control form-control-sm" id="code">
                                </span><span class="dt-column-order"></span></th><th data-dt-column="3" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="DESPACHO: Activate to sort" tabindex="0"><span class="dt-column-title" role="button">
                                    <input type="text" class="form-control form-control-sm" id="dispatchId">
                                </span><span class="dt-column-order"></span></th><th data-dt-column="4" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="ENVASE: Activate to sort" tabindex="0"><span class="dt-column-title" role="button">
                                    <input type="text" class="form-control form-control-sm" id="receptacleId">
                                </span><span class="dt-column-order"></span></th><th data-dt-column="5" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="PESO: Activate to sort" tabindex="0"><span class="dt-column-title" role="button">
                                    <input type="text" class="form-control form-control-sm" id="weightKgMailItemContent">
                                </span><span class="dt-column-order"></span></th><th data-dt-column="6" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="DESTINATARIO: Activate to sort" tabindex="0"><span class="dt-column-title" role="button">
                                    <input type="text" class="form-control form-control-sm" id="destName">
                                </span><span class="dt-column-order"></span></th><th data-dt-column="7" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="SERVICIO: Activate to sort" tabindex="0"><span class="dt-column-title" role="button">
                                    <input type="text" class="form-control form-control-sm" id="serviceName">
                                </span><span class="dt-column-order"></span></th><th data-dt-column="8" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="CREADO: Activate to sort" tabindex="0"><span class="dt-column-title" role="button">
                                    <input type="text" class="form-control form-control-sm flatpickr-input" data-provider="flatpickr" data-date-format="d M, Y" data-range-date="true" id="dateCreated" readonly="readonly">
                                </span><span class="dt-column-order"></span></th><th data-dt-column="9" rowspan="1" colspan="1" class="dt-orderable-none" aria-label="
                                    
                                        
                                            
                                        
                                    
                                "><span class="dt-column-title">
                                    <div class="d-grid gap-2">
                                        <button type="submit" class="btn btn-sm btn-primary waves-effect waves-light">
                                            <i class="ri-search-2-line label-icon align-middle fs-16"></i>
                                        </button>
                                    </div>
                                </span><span class="dt-column-order"></span></th></tr>
                            </thead><colgroup><col style="width: 35.4px;"><col style="width: 130.95px;"><col style="width: 148.525px;"><col style="width: 157.35px;"><col style="width: 153.45px;"><col style="width: 139.713px;"><col style="width: 174.688px;"><col style="width: 153.925px;"><col style="width: 149.2px;"><col style="width: 46px;"></colgroup></table></div></div><div class="dt-scroll-body" style="position: relative; overflow: auto; max-height: 400px; height: 400px;"><div id="datatablepage_processing" class="dt-processing card" role="status" style="display: none;">Procesando...<div><div></div><div></div><div></div><div></div></div></div><table class="table table-hover table-bordered align-middle dt-responsive nowrap table-striped-columns dataTable" id="datatablepage" aria-describedby="datatablepage_info" style="width: 1289.2px;"><colgroup><col style="width: 35.4px;"><col style="width: 130.95px;"><col style="width: 148.525px;"><col style="width: 157.35px;"><col style="width: 153.45px;"><col style="width: 139.713px;"><col style="width: 174.688px;"><col style="width: 153.925px;"><col style="width: 149.2px;"><col style="width: 46px;"></colgroup><tfoot>
                            <tr role="row"><th class="select-checkbox" data-dt-column="0" rowspan="1" colspan="1"><div class="dt-scroll-sizing"><span class="dt-column-title"></span></div></th><th data-dt-column="1" rowspan="1" colspan="1"><div class="dt-scroll-sizing"><span class="dt-column-title"></span></div></th><th data-dt-column="2" rowspan="1" colspan="1"><div class="dt-scroll-sizing"><span class="dt-column-title"></span></div></th><th data-dt-column="3" rowspan="1" colspan="1"><div class="dt-scroll-sizing"><span class="dt-column-title"></span></div></th><th style="text-align: right;" data-dt-column="4" rowspan="1" colspan="1"><div class="dt-scroll-sizing"><span class="dt-column-title">TOTAL PESO:</span></div></th><th data-dt-column="5" rowspan="1" colspan="1"><div class="dt-scroll-sizing">0.00</div></th><th style="text-align: right;" data-dt-column="6" rowspan="1" colspan="1"><div class="dt-scroll-sizing"><span class="dt-column-title">TOTAL ELEMENTOS:</span></div></th><th data-dt-column="7" rowspan="1" colspan="1"><div class="dt-scroll-sizing">0</div></th><th data-dt-column="8" rowspan="1" colspan="1"><div class="dt-scroll-sizing"><span class="dt-column-title"></span></div></th><th data-dt-column="9" rowspan="1" colspan="1"><div class="dt-scroll-sizing"><span class="dt-column-title"></span></div></th></tr>
                            </tfoot><thead class="table-light text-muted">
                            <tr role="row"><th data-dt-column="0" class="select-checkbox dt-orderable-none" rowspan="1" colspan="1" aria-label="
                                    
                                        
                                    
                                "><div class="dt-scroll-sizing"><span class="dt-column-title"></span><span class="dt-column-order"></span></div></th><th class="sort dt-orderable-asc dt-orderable-desc dt-ordering-desc" data-sort="id" data-dt-column="1" rowspan="1" colspan="1" aria-sort="descending" aria-label="ID: Activate to remove sorting"><div class="dt-scroll-sizing"><span class="dt-column-title" role="button">ID</span><span class="dt-column-order"></span></div></th><th class="sort dt-orderable-asc dt-orderable-desc" data-sort="code" data-dt-column="2" rowspan="1" colspan="1" aria-label="CÓDIGO: Activate to sort"><div class="dt-scroll-sizing"><span class="dt-column-title" role="button">CÓDIGO</span><span class="dt-column-order"></span></div></th><th class="sort dt-orderable-asc dt-orderable-desc" data-sort="dispatchId" data-dt-column="3" rowspan="1" colspan="1" aria-label="DESPACHO: Activate to sort"><div class="dt-scroll-sizing"><span class="dt-column-title" role="button">DESPACHO</span><span class="dt-column-order"></span></div></th><th class="sort dt-orderable-asc dt-orderable-desc" data-sort="receptacleId" data-dt-column="4" rowspan="1" colspan="1" aria-label="ENVASE: Activate to sort"><div class="dt-scroll-sizing"><span class="dt-column-title" role="button">ENVASE</span><span class="dt-column-order"></span></div></th><th class="sort dt-orderable-asc dt-orderable-desc" data-sort="weightKgMailItemContent" data-dt-column="5" rowspan="1" colspan="1" aria-label="PESO: Activate to sort"><div class="dt-scroll-sizing"><span class="dt-column-title" role="button">PESO</span><span class="dt-column-order"></span></div></th><th class="sort dt-orderable-asc dt-orderable-desc" data-sort="destName" data-dt-column="6" rowspan="1" colspan="1" aria-label="DESTINATARIO: Activate to sort"><div class="dt-scroll-sizing"><span class="dt-column-title" role="button">DESTINATARIO</span><span class="dt-column-order"></span></div></th><th class="sort dt-orderable-asc dt-orderable-desc" data-sort="serviceName" data-dt-column="7" rowspan="1" colspan="1" aria-label="SERVICIO: Activate to sort"><div class="dt-scroll-sizing"><span class="dt-column-title" role="button">SERVICIO</span><span class="dt-column-order"></span></div></th><th class="sort dt-orderable-asc dt-orderable-desc" data-sort="dateCreated" data-dt-column="8" rowspan="1" colspan="1" aria-label="CREADO: Activate to sort"><div class="dt-scroll-sizing"><span class="dt-column-title" role="button">CREADO</span><span class="dt-column-order"></span></div></th><th data-dt-column="9" rowspan="1" colspan="1" class="dt-orderable-none" aria-label="
                                    
                                        
                                            
                                        
                                    
                                "><div class="dt-scroll-sizing"><span class="dt-column-title"></span><span class="dt-column-order"></span></div></th></tr>
                            <tr style="" role="row"><th data-dt-column="0" class="select-checkbox dt-orderable-none" rowspan="1" colspan="1" aria-label="
                                    
                                        
                                    
                                "><div class="dt-scroll-sizing"><span class="dt-column-title">
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="checkbox">
                                    </div>
                                </span><span class="dt-column-order"></span></div></th><th data-dt-column="1" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc dt-ordering-desc" aria-sort="descending" aria-label="ID: Activate to remove sorting"><div class="dt-scroll-sizing"><span class="dt-column-title" role="button">
                                    <input type="text" class="form-control form-control-sm">
                                </span><span class="dt-column-order"></span></div></th><th data-dt-column="2" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="CÓDIGO: Activate to sort"><div class="dt-scroll-sizing"><span class="dt-column-title" role="button">
                                    <input type="text" class="form-control form-control-sm">
                                </span><span class="dt-column-order"></span></div></th><th data-dt-column="3" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="DESPACHO: Activate to sort"><div class="dt-scroll-sizing"><span class="dt-column-title" role="button">
                                    <input type="text" class="form-control form-control-sm">
                                </span><span class="dt-column-order"></span></div></th><th data-dt-column="4" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="ENVASE: Activate to sort"><div class="dt-scroll-sizing"><span class="dt-column-title" role="button">
                                    <input type="text" class="form-control form-control-sm">
                                </span><span class="dt-column-order"></span></div></th><th data-dt-column="5" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="PESO: Activate to sort"><div class="dt-scroll-sizing"><span class="dt-column-title" role="button">
                                    <input type="text" class="form-control form-control-sm">
                                </span><span class="dt-column-order"></span></div></th><th data-dt-column="6" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="DESTINATARIO: Activate to sort"><div class="dt-scroll-sizing"><span class="dt-column-title" role="button">
                                    <input type="text" class="form-control form-control-sm">
                                </span><span class="dt-column-order"></span></div></th><th data-dt-column="7" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="SERVICIO: Activate to sort"><div class="dt-scroll-sizing"><span class="dt-column-title" role="button">
                                    <input type="text" class="form-control form-control-sm">
                                </span><span class="dt-column-order"></span></div></th><th data-dt-column="8" rowspan="1" colspan="1" class="dt-orderable-asc dt-orderable-desc" aria-label="CREADO: Activate to sort"><div class="dt-scroll-sizing"><span class="dt-column-title" role="button">
                                    <input type="text" class="form-control form-control-sm flatpickr-input" data-provider="flatpickr" data-date-format="d M, Y" data-range-date="true" readonly="readonly">
                                </span><span class="dt-column-order"></span></div></th><th data-dt-column="9" rowspan="1" colspan="1" class="dt-orderable-none" aria-label="
                                    
                                        
                                            
                                        
                                    
                                "><div class="dt-scroll-sizing"><span class="dt-column-title">
                                    <div class="d-grid gap-2">
                                        <button type="submit" class="btn btn-sm btn-primary waves-effect waves-light">
                                            <i class="ri-search-2-line label-icon align-middle fs-16"></i>
                                        </button>
                                    </div>
                                </span><span class="dt-column-order"></span></div></th></tr>
                            </thead>
                            <tbody><tr><td colspan="10" class="dt-empty">Ningún dato disponible en esta tabla</td></tr></tbody>
                            
                        </table></div><div class="dt-scroll-foot" style="overflow: hidden; border: 0px; width: 100%;"><div class="dt-scroll-footInner" style="width: 1289.2px; padding-right: 0px;"><table class="table table-hover table-bordered align-middle dt-responsive nowrap table-striped-columns dataTable" style="margin-left: 0px; width: 1289.2px;"><tfoot>
                            <tr role="row"><th class="select-checkbox" data-dt-column="0" rowspan="1" colspan="1"><span class="dt-column-title"></span></th><th data-dt-column="1" rowspan="1" colspan="1"><span class="dt-column-title"></span></th><th data-dt-column="2" rowspan="1" colspan="1"><span class="dt-column-title"></span></th><th data-dt-column="3" rowspan="1" colspan="1"><span class="dt-column-title"></span></th><th style="text-align: right;" data-dt-column="4" rowspan="1" colspan="1"><span class="dt-column-title">TOTAL PESO:</span></th><th id="totalWeightFooter" data-dt-column="5" rowspan="1" colspan="1">0.00</th><th style="text-align: right;" data-dt-column="6" rowspan="1" colspan="1"><span class="dt-column-title">TOTAL ELEMENTOS:</span></th><th id="totalElementsFooter" data-dt-column="7" rowspan="1" colspan="1">0</th><th data-dt-column="8" rowspan="1" colspan="1"><span class="dt-column-title"></span></th><th data-dt-column="9" rowspan="1" colspan="1"><span class="dt-column-title"></span></th></tr>
                            </tfoot><colgroup><col style="width: 35.4px;"><col style="width: 130.95px;"><col style="width: 148.525px;"><col style="width: 157.35px;"><col style="width: 153.45px;"><col style="width: 139.713px;"><col style="width: 174.688px;"><col style="width: 153.925px;"><col style="width: 149.2px;"><col style="width: 46px;"></colgroup></table></div></div></div><div class="dt-info" aria-live="polite" id="datatablepage_info" role="status">Mostrando registros del 0 al 0 de un total de 0 registros</div><div class="dt-paging paging_full_numbers" style="margin: 8px 0px;"><ul class="pagination"><li class="dt-paging-button page-item disabled"><a class="page-link first" aria-controls="datatablepage" aria-disabled="true" aria-label="First" data-dt-idx="first" tabindex="-1">Primero</a></li><li class="dt-paging-button page-item disabled"><a class="page-link previous" aria-controls="datatablepage" aria-disabled="true" aria-label="Previous" data-dt-idx="previous" tabindex="-1">Anterior</a></li><li class="dt-paging-button page-item disabled"><a class="page-link next" aria-controls="datatablepage" aria-disabled="true" aria-label="Next" data-dt-idx="next" tabindex="-1">Siguiente</a></li><li class="dt-paging-button page-item disabled"><a class="page-link last" aria-controls="datatablepage" aria-disabled="true" aria-label="Last" data-dt-idx="last" tabindex="-1">Último</a></li></ul></div></div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!--end col-->
</div>

                </div>

{# footer #}                

<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                22-08-2024 12:06:37
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    JERSEY POST INTERNATIONAL LTD
                </div>
            </div>
        </div>
    </div>
</footer>

{% endblock %}

{% block javascripts %}

{{ parent() }}

<!-- apexcharts -->
<script src="{{ asset('libs/apexcharts/apexcharts.min.js') }}"></script>

<!-- Dashboard init -->
<script src="{{ asset('js/pages/dashboard-crm.init.js') }}"></script>

<script>
        window.datatablei18n = "/libs/datatables/i18n/es-ES.json";
        document.addEventListener('DOMContentLoaded', function () {
                    });
    </script>
    {# init datatable #}
    <script>
        window.datatablei18n = "/libs/datatables/i18n/es-ES.json";
        document.addEventListener('DOMContentLoaded', function () {
                    });
    </script>
    <script src="/js/pages/datatable-events.js"></script>
    <script src="/js/pages/datatable.init.js"></script>
{% endblock %}