{% extends 'partials/main.html.twig' %}

{% set title = 'Crear Equipo de Trabajo' %}

{% block content %}

    {{ include('partials/page-title.html.twig', {page: 'Equipos', title: title, titlephather: 'Listado de Equipos de Trabajo', pathfather: 'app_team_index'}) }}

    <div class="row">
        <div class="col-lg-6">
            {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
            <div class="card">
                <div class="card-body">
                    <div class="row g-2">
                        <div class="col-sm-8">
                            <div class="search-box">
                                {{ form_widget(form.name) }}
                                <i class="ri-edit-2-line search-icon"></i>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-sm-auto ms-auto">
                            <div class="list-grid-nav hstack gap-1">
                                <button class="btn btn-primary">
                                    <i class="ri-save-line me-1 align-bottom"></i> {{ button_label|default('Guardar') }}
                                </button>
                                <button type="button" id="grid-view-button"
                                        class="btn btn-soft-info nav-link btn-icon fs-14 active filter-button">
                                    <i class="ri-grid-fill"></i>
                                </button>
                                <button type="button" id="list-view-button"
                                        class="btn btn-soft-info nav-link btn-icon fs-14 filter-button">
                                    <i class="ri-list-unordered"></i>
                                </button>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
            </div>
            {{ form_end(form) }}
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="row g-2">
                        <div class="col-sm-8">
                            <div class="search-box">
                                <input type="text" class="form-control"
                                       placeholder="Buscar miembro">
                                <i class="ri-search-line search-icon"></i>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-sm-auto ms-auto">
                            <div class="list-grid-nav hstack gap-1">
                                <button class="btn btn-success disabled">
                                    <i class="ri-add-fill me-1 align-bottom"></i> {{ button_label|default('Adicionar miembro') }}
                                </button>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <!-- prismjs plugin -->
    <script src="{{ asset('libs/prismjs/prism.js') }}"></script>

    <script src="{{ asset('js/pages/form-validation.init.js') }}"></script>

    <!-- team init js -->
    <script src="{{ asset('js/pages/team.init.js') }}"></script>

{% endblock %}
