{% extends 'partials/main.html.twig' %}

{% set title = 'Crear Factura' %}

{% block content %}

	{{ include('partials/page-title.html.twig', {page: 'Facturas', title: title, titlephather: 'Listado de Facturas', pathfather: 'app_invoice_index'}) }}

	{% if form_errors(form) %}
		<div class="alert alert-danger alert-label-icon alert-dismissible fade show" role="alert">
			<i class="ri-error-warning-line label-icon"></i>
			{{ form_errors(form) }}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endif %}

	{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}

	<div class="row justify-content-center">
		<div class="col-xxl-9">
			<div class="card" id="demo">
				<div class="row">
					<div class="col-lg-12">
						<div class="card-header border-bottom-dashed p-4">
							<div class="d-flex">
								<div class="flex-grow-1">
									<img src="{{ asset('images/logo-final.png') }}" class="card-logo card-logo-dark" alt="logo dark" height="57">
									<img src="{{ asset('images/logo-final.png') }}" class="card-logo card-logo-light" alt="logo light" height="57">
									<div class="text-center">
										<h2>FACTURA PROFORMA</h2>
									</div>
									<div class="mt-sm-5 mt-2">
										<p class="text-muted mb-1">MIA CARGO, S.R.L.</p>
										<p class="text-muted mb-1">RNC 132073819</p>
										<p class="text-muted mb-1">Zona Universitaria, calle Benigno Filomeno de Rojas, esquina Padre Pina, local #102B</p>
										<p class="text-muted mb-1">info@bymiashop.com</p>
									</div>
								</div>
								<div class="flex-shrink-0 mt-sm-0 mt-3">
									<h6>
										<span class="text-muted fw-normal">Factura proforma no.:</span>
										<span id="legal-register-no">{{ order.orderId }}</span>
									</h6>
									<h6>
										<span class="text-muted fw-normal">Fecha:</span>
										<span id="email">{{ order.dateCreated | date('d M Y') }}</span>
									</h6>
									<h6>
										<span class="text-muted fw-normal">Vencimiento:</span>
										{{ invoice.paymentDeadlineInvoice }}
									</h6>
									<h6>
										<span class="text-muted fw-normal">Estado de la factura:</span>

										{% if order.paymentType is defined and order.paymentType is not null and (order.paymentType.id == 2 or order.paymentType.id==3) %}
											PAGADO
										{% else %}
											{{ invoice.statusInvoice|default('ABIERTO') }}
										{% endif %}
									</h6>
									<h6>
										<span class="text-muted fw-normal">Empleado:</span>
										{{ (invoice.employeeName|default(app.user.userIdentifier))|upper }}
									</h6>
									<h6>
										<span class="text-muted fw-normal">Saldo deudor en RD$:
										</span>
										<span id="contact-no">
											{{ invoice.deudaRD|number_format(2) }}</span>
									</h6>
									<h6 class="mb-0">
										<span class="text-muted fw-normal">Saldo deudor en US$:
										</span>
										<span id="contact-no">
											{{ invoice.deudaUSD|number_format(2) }}</span>
									</h6>
								</div>
							</div>
						</div>
						<!--end card-header-->
					</div>
					<!--end col-->
					<div class="col-lg-12">
						<div class="card-body border-bottom border-bottom-dashed p-4">
							<div class="row g-3">
								<div class="col-lg-6 col-sm-6">

									{{ form_row(form.statusInvoice, {
										'value': (order.paymentType is defined and order.paymentType is not null and (order.paymentType.id == 2 or order.paymentType.id == 3)) ? 'PAID' : 'OPEN'
									}) }}

								</div>
								<!--end col-->
								<div class="col-lg-6 col-sm-6">
									{{ form_row(form.paymentDeadlineInvoice) }}
								</div>
							</div>
							<!--end row-->
						</div>
						<!--end card-body-->
					</div>
					<!--end col-->
					<div class="col-lg-12">
						<div class="card-body border-bottom border-bottom-dashed p-4">
							<div class="row g-3">
								<div class="col-lg-3 col-6">
									<p class="text-muted mb-2 text-uppercase fw-semibold">Cliente</p>
									<h5 class="fs-14 mb-0">
										<span id="invoice-no">{{ order.billName }}</span>
									</h5>
								</div>
								<!--end col-->
								<div class="col-lg-3 col-6">
									<p class="text-muted mb-2 text-uppercase fw-semibold">Tipo de cliente</p>
									<h5 class="fs-14 mb-0">{{ order.customer.customerType }}</h5>
								</div>
								<!--end col-->
								<div class="col-lg-3 col-6">
									<p class="text-muted mb-2 text-uppercase fw-semibold">Tipo de Identificación</p>
									<span class="badge badge-soft-success fs-11" id="payment-status">{{ order.billIdentityType }}</span>
								</div>
								<!--end col-->
								<div class="col-lg-3 col-6">
									<p class="text-muted mb-2 text-uppercase fw-semibold">Numero de Identificacion</p>
									<h5 class="fs-14 mb-0">#<span id="total-amount">{{ order.billIdentityNumber }}</span>
									</h5>
								</div>
								<!--end col-->
							</div>
							<!--end row-->
						</div>
						<!--end card-body-->
					</div>
					<!--end col-->
					<div class="col-lg-12">
						<div class="card-body p-4">
							<div class="row g-3">
								<div class="col-lg-3 col-6">
									<p class="text-muted mb-2 text-uppercase fw-semibold">Correo</p>
									<h5 class="fs-14 mb-0">
										<span>{{ order.customer.email }}</span>
									</h5>
								</div>
								<!--end col-->
								<div class="col-lg-3 col-6">
									<p class="text-muted mb-2 text-uppercase fw-semibold">Teléfono</p>
									<h5 class="fs-14 mb-0">{{ order.customer.phoneCode ~ ' ' ~ order.customer.phone }}</h5>
								</div>
								<!--end col-->
								<div class="col-lg-3 col-6">
									<p class="text-muted mb-2 text-uppercase fw-semibold">Dirección de facturación</p>
									<span class="badge badge-soft-success fs-11">{{ order.billCountryName}}<br>{{ order.billStateName}}<br>{{ order.billCityName}}<br>{{ order.billAddress}}<br>{{ order.billPostalCode }}</span>
								</div>
								<!--end col-->
								<div class="col-lg-3 col-6">
									<p class="text-muted mb-2 text-uppercase fw-semibold">Dirección de envío</p>
									<span class="badge badge-soft-success fs-11">{{ order.shippingCountryName}}<br>{{ order.shippingStateName}}<br>{{ order.shippingCityName}}<br>{{ order.shippingAddress}}<br>{{ order.shippingPostalCode }}</span>
								</div>
								<!--end col-->
							</div>
							<!--end row-->
						</div>
						<!--end card-body-->
					</div>
					<!--end col-->

					<div class="col-lg-12">
						<div class="card-body p-4">
							<div class="table-responsive">
								<table class="table table-borderless text-center table-nowrap align-middle mb-0" style="font-size:12px;">
									<thead>
										<tr class="table-active">
											<th scope="col">#</th>
											<th scope="col" class="text-start">Detalles del producto</th>
											<th scope="col">Cantidad</th>
											<th scope="col">Moneda</th>
											<th scope="col">Precio unitario</th>
											<th scope="col">Descuento</th>
											<th scope="col">Precio final prod.</th>
											<th scope="col">Prod sin ITBIS.</th>
											<th scope="col">ITBIS</th>
											<th scope="col" class="text-end">Subtotal</th>
										</tr>
									</thead>
									<tbody id="products-list">
										{% set subTotalProductosRD = 0 %}
										{% set sutTotalITBISRD = 0 %}

										{% set subTotalProductosUSD = 0 %}
										{% set sutTotalITBISUSD = 0 %}
										
										{% for k, p in order.products %}

											{% set descuento = (p.cost / 100) * p.discount %}
											{% set precioConDescuento = p.cost - descuento %}

											{% if p.currency.id == 1  %} {#si es en RD#}
												
												{% set precioSinItbis = ((p.cost - descuento) / 1.18) %}
												{% set itbisRD = (precioConDescuento - precioSinItbis) %}
												{% set subTotalProductosRD = subTotalProductosRD + (precioSinItbis * p.quantity) %}
												{% set sutTotalITBISRD = sutTotalITBISRD + (itbisRD * p.quantity) %}
											
											{% else %}{#si es en USD#}

												{% set precioSinItbis = ((p.cost - descuento)) %}
												{% set itbisUSD = (precioConDescuento - precioSinItbis) %}
												{% set subTotalProductosUSD = subTotalProductosUSD + (precioSinItbis * p.quantity) %}
												{% set sutTotalITBISUSD = sutTotalITBISUSD + (itbisUSD * p.quantity) %}

											{% endif %}

											
											<tr>
												<th scope="row">{{ k + 1 }}</th>
												<td class="text-start">
													<span class="fw-medium">{{ p.productId3Pl }}</span>
													<p class="text-muted mb-0">{{ p.name|slice(0, 100) }}...</p>
												</td>

												<td>{{ p.quantity }}</td>
												<td>{{ p.currency.id == 1 ? 'Peso dominicano':'Dolar estadounidense' }}</td>

												{# <th scope="col">Precio unitario</th> #}
												<td>{{ p.currency.sign }} {{ p.cost|number_format(2) }}</td>

												{# <th scope="col">Descuento</th> #}
												<td>{{ p.currency.sign }} {{ descuento|number_format(2) }}</td>

												{# <th scope="col">Precio final prod.</th> #}
												<td>{{ p.currency.sign }} {{ precioConDescuento|number_format(2) }}</td>

												{# <th scope="col">Prod sin ITBIS.</th> #}
												<td>{{ p.currency.sign }} {{ precioSinItbis|number_format(2) }}</td>

												{# <td>{{ p.currency.sign }} {{ (p.cost / 1.18)|number_format(2) }}</td> #}
												{# <th scope="col">ITBIS</th> #}
												{% if p.currency.id == 1 %}{# si es RD #}
												<td>{{ p.currency.sign }} {{ itbisRD|number_format(2) }}</td>
												{% else %}{# si es USD #}
												<td>{{ p.currency.sign }} {{ itbisUSD|number_format(2) }}</td>
												{% endif %}
												<td class="text-end">{{ p.currency.sign }} {{ (precioConDescuento * p.quantity)|number_format(2) }}</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
								<!--end table-->
							</div>
							<div class="mt-4 float-start">
								<h6 class="text-uppercase mb-3">Descuento promocional:
									<span>RD$ {{ 0|number_format(2) }}</span>
								</h6>
							</div>
							<div class="border-top border-top-dashed mt-2">
								<table class="table table-borderless table-nowrap align-middle mb-0 ms-auto" style="width:350px">
									<tbody>
										{#
										<tr>
											<td>Total parcial</td>
											<td class="text-end">${{ invoice.partialRD|number_format(2) }}</td>
										</tr>
										#}
										<tr>
											<th scope="row">Delivery</th>
											<td>
												{{ form_row(form.flete) }}
											</td>
										</tr>
										{# <tr>
											<th scope="row">Combustible</th>
											<td>
												{{ form_row(form.fuel) }}
											</td>
										</tr> #}
										<tr>
											<th scope="row">Seguro</th>
											<td>
												{{ form_row(form.sure) }}
											</td>
										</tr>
										<tr>
											<th scope="row">Otros servicios</th>
											<td>
												{{ form_row(form.otherService) }}
											</td>
										</tr>
										<tr>
											<td>Subtotal de productos en RD$</td>
											<td class="text-end">RD$ {{ subTotalProductosRD|number_format(2) }}</td>
										</tr>
										<tr>
											<td>ITBIS (18.00%)</td>
											<td class="text-end">RD$ {{ order.taxRD|number_format(2) }}</td>
										</tr>
										<tr>
											<td>Total de productos en RD$</td>
											<td class="text-end">RD$ {{ invoice.totalRD|number_format(2) }}</td>
										</tr>
										<tr class="border-top border-top-dashed fs-15">
											{% if order.paymentType is defined and order.paymentType is not null and (order.paymentType.id == 2 or order.paymentType.id==3) %}
												<th scope="row">Abonado con CARDNET</th>
												<td class="text-end">
													RD$ -{{ order.totalOrderRD|number_format(2) }}
													</td>
											</tr>

											<tr>

												<th scope="row">Saldo Deudor de Prod en RD$</th>
												<td class="text-end">
													RD$ {{ '0,00'|number_format(2) }}</td>
												
											{% else %}
												<th scope="row">Saldo Deudor en RD$</th>
												<td class="text-end">
													RD$ {{ (invoice.deudaRD|default(order.totalOrderRD))|number_format(2) }}</td>
											{% endif %}
										</tr>

										{# ACA PARA ABAJO ES EN DOLARES #}
										<tr class="border-top border-top-dashed fs-15">
											<td>Subtotal de productos en US$</td>
											<td class="text-end">US$ {{ subTotalProductosUSD|number_format(2) }}</td>
										</tr>
										<tr>
											<td>Total de productos en US$</td>
											<td class="text-end">US$ {{ invoice.totalUSD|number_format(2) }}</td>
										</tr>
										<tr class="border-top border-top-dashed fs-15">
											
												<th scope="row">Saldo Deudor en US$</th>
												<td class="text-end">
													US$ {{ (invoice.deudaUSD|default(order.totalOrderUSD))|number_format(2) }}
												</td>
										</tr>

										{# fin dolares #}
									</tbody>
								</table>
								<!--end table-->
							</div>
							<div class="hstack gap-2 justify-content-end d-print-none mt-4">
								<button class="btn btn-sm btn-primary float-end">
									<i class="ri-save-line me-1 align-bottom"></i>
									{{ button_label|default('Guardar') }}
								</button>
							</div>
							<div class="mt-4">
								<label for="exampleFormControlTextarea1" class="form-label text-muted text-uppercase fw-semibold">NOTAS</label>
								<p class="form-control alert alert-info">Para transferencia bancaria: MIACARGO SRL RNC 132073819 CUENTAS DE BANRESERVAS / CUENTA CORRIENTE DOP 9605649467.
									<br/>
									Para conocer la Política de Garantía y RMA de MiaCargoPost puede ingresar en www.bymiashop.com/RMA
									<br/>
									Si tiene alguna pregunta sobre esta factura, contáctenos. ¡Gracias por confiar en MiaCargoPost!</p>
							</div>
						</div>
						<!--end card-body-->
					</div>
					<!--end col-->
				</div>
				<!--end row-->
			</div>
			<!--end card-->
		</div>
		<!--end col-->
	</div>
	<!--end row-->

	{{ form_end(form) }}

{% endblock %}

{% block javascripts %}

	{{ parent() }}

	<!-- prismjs plugin -->
	<script src="{{ asset('libs/prismjs/prism.js') }}"></script>

	<script src="{{ asset('js/pages/form-validation.init.js') }}"></script>

{% endblock %}
