<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">{{ page|default('') }}</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">
                        <a href="{{ path('app_reminder_index') }}">{{ pagetitle|default('Inicio') }}</a>
                    </li>
                    {% if titlephather is defined %}
                        <li class="breadcrumb-item">
                            <a href="{{ path(pathfather|default('app_reminder')) }}">{{ (titlephather) ? titlephather : '' }}</a>
                        </li>
                    {% endif %}
                    {% if title is defined %}
                        <li class="breadcrumb-item active">{{ title|default }}</li>
                    {% endif %}
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->