<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a href="/" class="logo logo-dark">
            <span class="logo-sm">
                <img src="{{ asset('images/logo-final.png') }}" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="{{ asset('images/logo-final.png') }}" alt="" height="17">
            </span>
        </a>
        <!-- Light Logo-->
        <a href="/" class="logo logo-light">
            <span class="logo-sm">
                <img src="{{ asset('images/logo-final.png') }}" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="{{ asset('images/logo-final.png') }}" alt="" height="17">
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
                id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        <div class="container-fluid">
            <div id="two-column-menu"></div>
            <ul class="navbar-nav" id="navbar-nav">
                <li class="menu-title"><span>Menu</span></li>

                <li class="nav-item">
                    <a class="nav-link menu-link {{ active is defined and active == 'home' ? 'active' }}" href="{{ path('app_default_index') }}" role="button"
                       aria-expanded="false"
                       aria-controls="sidebarLanding">
                        <i class="ri-home-2-line"></i> <span>Home</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link menu-link {{ active is defined and active == 'addresses' ? 'active' }}" href="{{ path('app_addresses_index') }}" role="button"
                       aria-expanded="false"
                       aria-controls="sidebarLanding">
                        <i class="ri-road-map-line"></i> <span>Addresses</span>
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link menu-link {{ active is defined and active == 'domestic-prices' ? 'active' }}" href="{{ path('app_domestic_prices_index') }}" role="button"
                       aria-expanded="false"
                       aria-controls="sidebarLanding">
                        <i class="ri-money-dollar-circle-line"></i> <span>Domestic Prices</span>
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link menu-link {{ active is defined and active == 'tracking' ? 'active' }}" href="{{ path('app_tracking_index') }}" role="button"
                       aria-expanded="false"
                       aria-controls="sidebarLanding">
                        <i class="ri-truck-line"></i> <span>Tracking</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link menu-link {{ active is defined and active == 'reminder' ? 'active' }}" href="{{ path('app_logout') }}" role="button"
                       aria-expanded="false"
                       aria-controls="sidebarLanding">
                        <i class="ri-door-closed-line"></i> <span>Cerrar sesión</span>
                    </a>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>

    <div class="sidebar-background"></div>
</div>
<!-- Left Sidebar End -->
<!-- Vertical Overlay-->
<div class="vertical-overlay"></div>