{% extends 'partials/main.html.twig' %}

{% block stylesheets %}

{{ parent() }}

<!-- jsvectormap css -->
<link href="{{ asset('libs/jsvectormap/css/jsvectormap.min.css') }}" rel="stylesheet" type="text/css" />

<!--Swiper slider css-->
<link href="{{ asset('libs/swiper/swiper-bundle.min.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block content %}

<div class="container-fluid">

    <div class="row">
        <div class="col">
            <div class="h-100">
                <div class="row mb-3 pb-1">
                    <div class="col-12">
                        <div class="d-flex align-items-lg-center flex-lg-row flex-column">
                            <div class="flex-grow-1">
                                <h2 class="fs-16 mb-1">Direcciones</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_label(form.originZIPCode) }}
                            {{ form_widget(form.originZIPCode) }}
                            {{ form_errors(form.originZIPCode) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.destinationZIPCode) }}
                            {{ form_widget(form.destinationZIPCode) }}
                            {{ form_errors(form.destinationZIPCode) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.weight) }}
                            {{ form_widget(form.weight) }}
                            {{ form_errors(form.weight) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.length) }}
                            {{ form_widget(form.length) }}
                            {{ form_errors(form.length) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.width) }}
                            {{ form_widget(form.width) }}
                            {{ form_errors(form.width) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.height) }}
                            {{ form_widget(form.height) }}
                            {{ form_errors(form.height) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.mailClass) }}
                            {{ form_widget(form.mailClass) }}
                            {{ form_errors(form.mailClass) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.processingCategory) }}
                            {{ form_widget(form.processingCategory) }}
                            {{ form_errors(form.processingCategory) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.rateIndicator) }}
                            {{ form_widget(form.rateIndicator) }}
                            {{ form_errors(form.rateIndicator) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.destinationEntryFacilityType) }}
                            {{ form_widget(form.destinationEntryFacilityType) }}
                            {{ form_errors(form.destinationEntryFacilityType) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.priceType) }}
                            {{ form_widget(form.priceType) }}
                            {{ form_errors(form.priceType) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.mailingDate) }}
                            {{ form_widget(form.mailingDate) }}
                            {{ form_errors(form.mailingDate) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.accountType) }}
                            {{ form_widget(form.accountType) }}
                            {{ form_errors(form.accountType) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.accountNumber) }}
                            {{ form_widget(form.accountNumber) }}
                            {{ form_errors(form.accountNumber) }}
                        </div>

                        <button type="submit" class="btn btn-primary">Buscar Precios</button>
                        {{ form_end(form) }}
                    </div>
                    {% if result %}

                    <div class="col-6 mt-3">
                        {% if result.error is defined %}
                        <div class="card">
                            <div class="card-body">
                                <h2 class="text-danger">Precio no encontradO</h2>
                            </div>
                        </div>
                        {% else %}
                        <div class="card">
                            <div class="card-body">
                                <h1>Resultados de la Búsqueda de Precios</h1>

                                {% if result.error is defined %}
                                <div class="alert alert-danger">
                                    <strong>Error:</strong> {{ result.error }}
                                </div>
                                {% else %}
                                <h2>Precio Base Total: {{ result.totalBasePrice | number_format(2) }} USD</h2>

                                {% if result.rates is not empty %}
                                <h2>Detalles de Tarifas:</h2>
                                <ul>
                                    {% for rate in result.rates %}
                                    <li>
                                        <h3>Descripción: {{ rate.description }}</h3>
                                        <ul>
                                            <li><strong>SKU:</strong> {{ rate.SKU }}</li>
                                            <li><strong>Tipo de Precio:</strong> {{ rate.priceType }}</li>
                                            <li><strong>Precio:</strong> {{ rate.price | number_format(2) }} USD</li>
                                            <li><strong>Peso:</strong> {{ rate.weight }} lbs</li>
                                            <li><strong>Peso Dimensional:</strong> {{ rate.dimWeight }} lbs</li>
                                            <li><strong>Fecha de Inicio:</strong> {{ rate.startDate }}</li>
                                            <li><strong>Clase de Correo:</strong> {{ rate.mailClass }}</li>
                                            <li><strong>Zona:</strong> {{ rate.zone }}</li>
                                            <li><strong>Categoría de Procesamiento:</strong> {{ rate.processingCategory
                                                }}</li>
                                            <li><strong>Tipo de Instalación de Entrada:</strong> {{
                                                rate.destinationEntryFacilityType }}</li>
                                            <li><strong>Indicador de Tarifa:</strong> {{ rate.rateIndicator }}</li>
                                            {% if rate.warnings is not empty %}
                                            <li>
                                                <strong>Advertencias:</strong>
                                                <ul>
                                                    {% for warning in rate.warnings %}
                                                    <li>{{ warning.warningCode }}: {{ warning.warningDescription }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% else %}
                                <p>No se encontraron tarifas para los criterios proporcionados.</p>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>

                        {% endif %}


                    </div>
                </div>

                {% endif %}

            </div> <!-- end .h-100-->
        </div> <!-- end col -->
    </div>

</div>

{% endblock %}

{% block javascripts %}

{{ parent() }}

<!-- apexcharts -->
<script src="{{ asset('libs/apexcharts/apexcharts.min.js') }}"></script>

<!-- Dashboard init -->
<script src="{{ asset('js/pages/dashboard-crm.init.js') }}"></script>


{% endblock %}