{% extends 'partials/main.html.twig' %}

{% set title = 'Editar Cliente' %}

{% block content %}

    {{ include('partials/page-title.html.twig', {page: 'Clientes', title: title, titlephather: 'Listado de Clientes', pathfather: 'app_customer_index'}) }}

    {% if form_errors(form) %}
        <div class="alert alert-danger alert-label-icon alert-dismissible fade show" role="alert">
            <i class="ri-error-warning-line label-icon"></i>
            {{ form_errors(form) }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}

    {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}

    <div class="row">
        <div class="col-lg-6">
            <div class="card card-height-100">
                <div class="card-header d-flex align-items-center">
                    <h4 class="card-title flex-grow-1 mb-0">Datos personales</h4>
                </div><!-- end cardheader -->
                <div class="card-body">

                    {{ form_row(form.apiId) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.lastName) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.phone) }}

                    <button class="btn btn-sm btn-primary float-end"> <i class="ri-save-line"></i> {{ button_label|default('Guardar') }}</button>
                    <a href="{{ path('app_customer_index') }}" class="btn btn-soft-info btn-sm float-end me-2"> <i
                                class="ri-arrow-go-back-line"></i> Volver al listado</a>

                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->
        <div class="col-lg-6">
            <div class="card card-height-100">
                <div class="card-header d-flex align-items-center">
                    <h4 class="card-title flex-grow-1 mb-0">Otros datos</h4>
                </div><!-- end cardheader -->
                <div class="card-body">

                    {{ form_row(form.cellPhone) }}
                    {{ form_row(form.customerType) }}
                    {{ form_row(form.status) }}
                    {{ form_row(form.gender) }}
                    {{ form_row(form.birthDay) }}

                    <button class="btn btn-sm btn-primary float-end"> <i class="ri-save-line"></i> {{ button_label|default('Guardar') }}</button>
                    <a href="{{ path('app_customer_index') }}" class="btn btn-soft-info btn-sm float-end me-2"> <i
                                class="ri-arrow-go-back-line"></i> Volver al listado</a>

                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->
        <div class="col-lg-6">
            <div class="card card-height-100">
                <div class="card-header d-flex align-items-center">
                    <h4 class="card-title flex-grow-1 mb-0">Dirección de casa</h4>
                </div><!-- end cardheader -->
                <div class="card-body">

                    {{ form_row(form.homeAddressId) }}
                    {{ form_row(form.homeCountry) }}
                    {{ form_row(form.homeState) }}
                    {{ form_row(form.homeCity) }}
                    {{ form_row(form.homeAddress) }}
                    {{ form_row(form.homePostalCode) }}
                    {{ form_row(form.homeAddInfo) }}


                    <button class="btn btn-sm btn-primary float-end"> <i class="ri-save-line"></i> {{ button_label|default('Guardar') }}</button>
                    <a href="{{ path('app_customer_index') }}" class="btn btn-soft-info btn-sm float-end me-2"> <i
                                class="ri-arrow-go-back-line"></i> Volver al listado</a>


                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->
        <div class="col-lg-6">
            <div class="card card-height-100">
                <div class="card-header d-flex align-items-center">
                    <h4 class="card-title flex-grow-1 mb-0">Dirección de facturación</h4>
                </div><!-- end cardheader -->
                <div class="card-body">

                    {{ form_row(form.billAddressId) }}
                    {{ form_row(form.billCountry) }}
                    {{ form_row(form.billState) }}
                    {{ form_row(form.billCity) }}
                    {{ form_row(form.billAddress) }}
                    {{ form_row(form.billPostalCode) }}
                    {{ form_row(form.billAddInfo) }}

                    <button class="btn btn-sm btn-primary float-end"> <i class="ri-save-line"></i> {{ button_label|default('Guardar') }}</button>
                    <a href="{{ path('app_customer_index') }}" class="btn btn-soft-info btn-sm float-end me-2"> <i
                                class="ri-arrow-go-back-line"></i> Volver al listado</a>


                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->
    </div><!-- end row -->

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <!-- prismjs plugin -->
    <script src="{{ asset('libs/prismjs/prism.js') }}"></script>

    <script src="{{ asset('js/pages/form-validation.init.js') }}"></script>

{% endblock %}
