{% extends 'partials/main.html.twig' %}

{% set title = 'Editar rol y permisos' %}

{% block stylesheets %}

    {{ parent() }}

    <!-- multi.js css -->
    <link rel="stylesheet" type="text/css" href="{{ asset('libs/multi.js/multi.min.css') }}"/>

{% endblock %}

{% block content %}

    {{ include('partials/page-title.html.twig', {title: title, page: title, titlephather: 'Listado de roles', pathfather: 'app_role_index'}) }}

    {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}

    <div class="row">
        <div class="col-lg-4">
            <div class="card card-height-100">
                <div class="card-header d-flex align-items-center">
                    <h4 class="card-title flex-grow-1 mb-0">Rol</h4>
                </div><!-- end cardheader -->
                <div class="card-body">

                    {{ form_row(form.name) }}

                    <button class="btn btn-sm btn-primary float-end"><i
                                class="ri-save-line"></i> {{ button_label|default('Actualizar') }}</button>
                    <a href="{{ path('app_role_index') }}" class="btn btn-soft-info btn-sm float-end me-2"> <i
                                class="ri-arrow-go-back-line"></i> Volver al listado</a>

                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->
        <div class="col-lg-8">
            <div class="card card-height-100">
                <div class="card-header d-flex align-items-center">
                    <h4 class="card-title flex-grow-1 mb-0">Seleccionar permisos</h4>
                </div><!-- end cardheader -->
                <div class="card-body">

                    {{ form_row(form.permissions) }}

                    <button class="btn btn-sm btn-primary float-end"><i
                                class="ri-save-line"></i> {{ button_label|default('Actualizar') }}</button>
                    <a href="{{ path('app_role_index') }}" class="btn btn-soft-info btn-sm float-end me-2"> <i
                                class="ri-arrow-go-back-line"></i> Volver al listado</a>

                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->
    </div><!-- end row -->

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <!-- prismjs plugin -->
    <script src="{{ asset('libs/prismjs/prism.js') }}"></script>

    <!-- multi.js -->
    <script src="{{ asset('libs/multi.js/multi.min.js') }}"></script>

    <script src="{{ asset('js/pages/form-validation.init.js') }}"></script>

    <script>
        let multiSelectHeader = document.getElementById("role_permissions");

        if (multiSelectHeader) {

            multi(multiSelectHeader, {
                enable_search: true,
                search_placeholder: "Filtrar...",
                non_selected_header: "Seleccionar",
                selected_header: "Seleccionados",
                hide_empty_groups: true,
            });

        }
    </script>

{% endblock %}
