<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Formulario Aduana CN23</title>

</head>

<body style="font-family: Arial, sans-serif; margin: 0; padding: 0;">
	{# Container #}
	<div style="width:auto; ">




		{# Header Form #}
		<table style=" width: 100%; border-collapse: collapse;">

			<tbody>
				<tr>
					<td style="width:53%">
						{# {% if base64Image %}
						<img src="data:image/png;base64,{{ base64Image }}" alt="Logo EMS"
							style="width: 380px; height: 20px;">
						{% else %}
						<p>La imagen no se pudo cargar.</p>
						{% endif %} #}
						<h1 style="padding: 0; margin:5px 0 5px 0 ; font-size:22px">CUSTOMS DECLARATION</h1>
						<p style="padding: 0; margin:0; ">Name of the designated operator</p>
					</td>
					<td style="vertical-align:top;">
						<img src="{{ app.request.schemeAndHttpHost ~ asset(s10code.barcodeImage) }}" alt="Logo EMS"
							style="width: 250px; height: 30px; ">
						<p style="font-size: 16px; padding: 0 0 0 15px; margin:0; font-weight:600; letter-spacing:5px;">
							{{ s10code.getFormattedNumbercode[:2]~' '~s10code.getFormattedNumbercode[2:3]~'
							'~s10code.getFormattedNumbercode[5:3]~' '~s10code.getFormattedNumbercode[8:3]~'
							'~s10code.getFormattedNumbercode[11:2] }}
						</p>
						<p style="font-size: 12px; padding: 0 0 0 22px; margin:0">May be opened officially</p>
					</td>
					<td>
						<p style="font-size: 24px; font-weight:600; padding: 0; margin:0; text-align:right"> CN 23
						</p>
					</td>
				</tr>
				<tr>
					<td style="vertical-align:top;">
						<P style="padding: 0; margin:0; font-size:18px; font-weight:600; text-transform:uppercase; ">
							MiaCargoPost</P>
					</td>
					<td style="border:1px #000 solid; vertical-align:top;  " colspan="2">
						<p style="font-size:14px; padding:0 0 0 18px; margin:0;">Importer's reference (if any)
							(tax code/VAT NO./importer code) (optional)</p>
						<p style="font-size:14px; font-weight:600; padding: 0; margin:0 0 0px 18px;">{{
							s10code.importersReference }}</p>
					</td>

				</tr>
				<tr>
					<td></td>
					<td style="border-top:1px #000 solid; border-left:1px #000 solid; border-right:1px #000 solid; vertical-align:top; "
						colspan="2">
						<p style="font-size:14px; padding: 0; margin:5px 0 0 18px;">Importer's telephone/fax/e-mail (if
							known)</p>
						<p style="font-size:14px; font-weight:600; padding: 0; margin:0 0 0px 18px;">{{
							s10code.importersTel }}</p>
					</td>
				</tr>
			</tbody>

		</table>
		{# From to #}
		<table
			style="width: 100%; border-collapse: collapse; border-top:1px #000 solid; border-bottom:1px #000 solid; border-right:1px #000 solid;">
			<tr>
				<td style="width:40px; font-size:18px; vertical-align:top; padding:5px 5px 0 0; " rowspan="5">From</td>
				<td style="width:37.1%; border:1px #000 solid; vertical-align:bottom; padding:5px" colspan="2">Name
					<span
						style="font-size:16px; font-weight:600; text-transform:uppercase;  padding: 0; margin:0 0 0px 5px;">{{
						s10code.fromName }}</span>
				</td>
				<td style="width:138px; border: 1px #000 solid; vertical-align:top;" rowspan="2">Sender's customs
					reference (if any): {{ s10code.sendersCustomsReference }}</td>
				<td style="width:45px; font-size:18px; border-right: 1px #000 solid; vertical-align:top; padding:5px 0 0 5px;"
					rowspan="5">To</td>
				<td style="border-bottom: 1px #000 solid; border-right: 1px #000 solid; vertical-align:bottom; "
					colspan="2">Name <span
						style="font-size:16px; font-weight:600; text-transform:uppercase;  padding: 0; margin:0 0 0px 5px;">{{
						s10code.toName }}</span>
				</td>

			</tr>
			<tr>

				<td style="border-bottom: 1px #000 solid; vertical-align:bottom; padding:5px" colspan="2">Street
					{{s10code.fromStreet}} </td>

				<td style="border-bottom: 1px #000 solid; border-right:1px #000 solid;vertical-align:bottom; padding:5px "
					colspan="2">Street {{s10code.toStreet}}</td>
			</tr>
			<tr>
				<td style="width:20%; vertical-align:bottom;  padding:5px;  border-bottom:1px #000 solid;">Postcode<span
						style="font-size:16px; font-weight:600; text-transform:uppercase;  padding: 0; margin:0 0 0px 5px;">
						{{s10code.fromPostcode}} </span>
				</td>
				<td style="border-bottom:1px #000 solid; padding:5px; vertical-align:bottom;" colspan="2">City<span
						style="font-size:16px; font-weight:600; text-transform:uppercase;  padding: 0; margin:0 0 0px 5px;">{{s10code.fromCity}}</span>
				</td>
				<td style="width:20%; border-bottom:1px #000 solid; padding:5px; vertical-align:bottom;">Postcode<span
						style="font-size:16px; font-weight:600; text-transform:uppercase;  padding: 0; margin:0 0 0px 5px;">
						{{s10code.toPostcode}} </span>
				</td>
				<td
					style="border-bottom:1px #000 solid; border-right:1px #000 solid; padding:5px; vertical-align:bottom;">
					City<span
						style="font-size:16px; font-weight:600; text-transform:uppercase;  padding: 0; margin:0 0 0px 5px;">
						{{s10code.toCity}} </span>
				</td>

			</tr>
			<tr>
				<td style="width:20%; vertical-align:bottom;  padding:5px; border-bottom:1px #000 solid; " colspan="3">
					Country<span
						style="font-size:16px; font-weight:600; text-transform:uppercase;  padding: 0; margin:0 0 0px 5px;">
						{{s10code.fromCountry.name}} </span>
				</td>

				<td style="width:20%; padding:5px; vertical-align:bottom; border-bottom:1px #000 solid;" colspan="3">
					Country<span style="font-size:16px; font-weight:600; text-transform:uppercase;  padding: 0">
						{{s10code.toCountry.name}} </span>
				</td>
			</tr>
			<tr>
				<td style="width:20%; vertical-align:bottom;  padding:5px;  border-bottom:1px #000 solid;">Tel.<span
						style="font-size:16px; font-weight:600; text-transform:uppercase;  padding: 0; margin:0 0 0px 5px;">
						{{s10code.fromTel}} </span>
				</td>
				<td style="border-bottom:1px #000 solid; padding:5px; vertical-align:bottom;" colspan="2">E-mail<span
						style="font-size:16px; font-weight:600; text-transform:uppercase;  padding: 0; margin:0 0 0px 5px;">{{s10code.fromEmail}}</span>
				</td>
				<td style="width:20%; border-bottom:1px #000 solid; padding:5px; vertical-align:bottom;">Tel.<span
						style="font-size:16px; font-weight:600; text-transform:uppercase;  padding: 0; margin:0 0 0px 5px;">
						{{s10code.toTel}} </span>
				</td>
				<td
					style="border-bottom:1px #000 solid; border-right:1px #000 solid; padding:5px; vertical-align:bottom;">
					E-mail<span
						style="font-size:16px; font-weight:600; text-transform:uppercase;  padding: 0; margin:0 0 0px 5px;">
						{{s10code.toEmail}} </span>
				</td>

			</tr>

		</table>
		{#Detailed description of contents #}
		<div>
			<div style="display: inline-block; width:780px;  ">
				<table style="border-collapse: collapse;">
					<thead>
						<tr style="text-align: start;">
							<th style="width: 46px;"></th>
							<th style="width: 320px; padding:10px 0 10px 5px; font-size:14px; border-left:1px #000 solid; border-bottom:1px #000 solid;  "
								rowspan="2">Detailed description of contents</th>
							<th style="width: 131px; padding-left:5px; font-size:14px; border-left:1px #000 solid; border-bottom:1px #000 solid; "
								rowspan="2">Quantity</th>
							<th style="width: 131px; padding-left:6px; font-size:14px; border-left:1px #000 solid; border-bottom:1px #000 solid; "
								rowspan="2">Net weight <br>(in kg)</th>
							<th style="width: 131px; padding-left:6px; font-size:14px; border-left:1px #000 solid; border-bottom:1px #000 solid; border-right:1px #000 solid;"
								rowspan="2">Value</th>
						</tr>

					</thead>

					<tbody>
						{% set line = 0 %}
						{% for item in s10code.itemDetails %}
						{% set line = line + 1 %}

						<tr style="text-align: start;">
							<td style="width: 44px;"> </td>
							<td
								style="width: 320px; height:20px; font-size:14px; border-left:1px #000 solid; border-bottom:1px #000 solid; font-weight:600;  ">
								{{item.detailedContents}}
							</td>
							<td
								style="width: 135px; height:20px; font-size:14px; border-left:1px #000 solid; border-bottom:1px #000 solid; font-weight:600; ">
								{{item.quantity}}
							</td>
							<td
								style="width: 135px; height:20px; font-size:14px; border-left:1px #000 solid; border-bottom:1px #000 solid; font-weight:600; ">
								{{item.netWeight}}
							</td>
							<td
								style="width: 135px; height:20px; font-size:14px; border-left:1px #000 solid; border-bottom:1px #000 solid; font-weight:600; border-right:1px #000 solid;">
								{{item.value}}
							</td>
						</tr>

						{% endfor %}
						{% if line < 5 %} {% for i in line..4 %} <tr style="text-align: start;">
							<td style="width: 44px;"></td>
							<td
								style="width: 320px; height:20px; font-size:14px; border-left:1px #000 solid; border-bottom:1px #000 solid; font-weight:600;  ">
							</td>
							<td
								style="width: 135px; height:20px; font-size:14px; border-left:1px #000 solid; border-bottom:1px #000 solid; font-weight:600; ">
							</td>
							<td
								style="width: 135px; height:20px; font-size:14px; border-left:1px #000 solid; border-bottom:1px #000 solid; font-weight:600; ">
							</td>
							<td
								style="width: 135px; height:20px; font-size:14px; border-left:1px #000 solid; border-bottom:1px #000 solid; font-weight:600; border-right:1px #000 solid;">
							</td>
							</tr>


							{% endfor %}
							{% endif %}

							{# <tr style="text-align: start;">
								<td style="width: 44px;"></td>
								<td
									style="width: 320px; height:20px; font-size:14px; border-left:1px #000 solid; border-bottom:1px #000 solid; font-weight:600;  ">
								</td>
								<td
									style="width: 135px; height:20px; font-size:14px; border-left:1px #000 solid; border-bottom:1px #000 solid; font-weight:600; ">
								</td>
								<td
									style="width: 135px; height:20px; font-size:14px; border-left:1px #000 solid; border-bottom:1px #000 solid; font-weight:600; ">
								</td>
								<td
									style="width: 135px; height:20px; font-size:14px; border-left:1px #000 solid; border-bottom:1px #000 solid; font-weight:600; border-right:1px #000 solid;">
								</td>
							</tr>
							<tr style="text-align: start;">
								<td style="width: 44px;"></td>
								<td
									style="width: 320px; height:20px; font-size:14px; border-left:1px #000 solid; border-bottom:1px #000 solid; font-weight:600;  ">
								</td>
								<td
									style="width: 135px; height:20px; font-size:14px; border-left:1px #000 solid; border-bottom:1px #000 solid; font-weight:600; ">
								</td>
								<td
									style="width: 135px; height:20px; font-size:14px; border-left:1px #000 solid; border-bottom:1px #000 solid; font-weight:600; ">
								</td>
								<td
									style="width: 135px; height:20px; font-size:14px; border-left:1px #000 solid; border-bottom:1px #000 solid; font-weight:600; border-right:1px #000 solid;">
								</td>
							</tr>
							<tr style="text-align: start;">
								<td style="width: 44px;"></td>
								<td
									style="width: 320px; height:20px; font-size:14px; border-left:1px #000 solid; border-bottom:1px #000 solid; font-weight:600;  ">
								</td>
								<td
									style="width: 135px; height:20px; font-size:14px; border-left:1px #000 solid; border-bottom:1px #000 solid; font-weight:600; ">
								</td>
								<td
									style="width: 135px; height:20px; font-size:14px; border-left:1px #000 solid; border-bottom:1px #000 solid; font-weight:600; ">
								</td>
								<td
									style="width: 135px; height:20px; font-size:14px; border-left:1px #000 solid; border-bottom:1px #000 solid; font-weight:600; border-right:1px #000 solid;">
								</td>
							</tr>
							<tr style="text-align: start;">
								<td style="width: 44px;"></td>
								<td
									style="width: 320px; height:20px; font-size:14px; border-left:1px #000 solid; border-bottom:1px #000 solid; font-weight:600;  ">
								</td>
								<td
									style="width: 135px; height:20px; font-size:14px; border-left:1px #000 solid; border-bottom:1px #000 solid; font-weight:600; ">
								</td>
								<td
									style="width: 135px; height:20px; font-size:14px; border-left:1px #000 solid; border-bottom:1px #000 solid; font-weight:600; ">
								</td>
								<td
									style="width: 135px; height:20px; font-size:14px; border-left:1px #000 solid; border-bottom:1px #000 solid; font-weight:600; border-right:1px #000 solid;">
								</td>
							</tr> #}
							<tr style="text-align: start;">
								<td style="width: 44px;"></td>
								<td
									style="width: 320px; height:20px; font-size:14px; border-left:1px #000 solid; border-bottom:1px #000 solid;  ">
								</td>
								<td
									style="width: 135px; height:20px; font-size:14px; border-left:1px #000 solid; border-bottom:1px #000 solid; ">
								</td>
								<td
									style="width: 135px; height:20px; font-size:14px; border-left:1px #000 solid; border-bottom:1px #000 solid; ">
									Total gross weight <p
										style="padding: 2px 10px 0 0; margin:0; text-align:right; font-weight:600;">
										{{s10code.totalGrossWeight}} </p>
								</td>
								<td
									style="width: 135px; height:20px; font-size:14px; border-left:1px #000 solid; border-bottom:1px #000 solid; border-right:1px #000 solid;">
									Total value <p
										style="padding: 2px 10px 0 0; margin:0; text-align:right; font-weight:600;">
										{{s10code.totalValue}} </p>
								</td>
							</tr>
					</tbody>


				</table>
				{# Category of item #}
				<table style="border-collapse: collapse;   border-right:1px #000 solid;">
					<tr>
						<td style="width: 44px;"></td>
						<td style="border-left: 1px #000 solid; width:1px"></td>
						<td style="border-right: 1px #000 solid; vertical-align:middle; width:199px;">Category of item
						</td>
						<td
							style="width: 20px; border-right: 1px #000 solid; border-bottom: 1px #000 solid; padding-left:6px;">
							{% if s10code.categoryItemS10codes | filter(item => item.categoryItem.id == 3 ) is not empty
							%}
							X
							{% endif %}

						</td>
						<td
							style="border-right: 1px #000 solid; padding-left:3px; vertical-align:middle; width:180px; ">
							Commercial sample</td>
						<td
							style="width: 20px; border-right: 1px #000 solid; border-bottom: 1px #000 solid; padding-left:6px;">
							{% if s10code.categoryItemS10codes | filter(item => item.categoryItem.id == 5 ) is not empty
							%}
							X
							{% endif %}
						</td>
						<td style="padding-left: 5px; vertical-align:middle; ">Sales of goods</td>
					</tr>
					<tr>
						<td style="width: 44px;"></td>
						<td style="width: 20px; border:1px #000 solid">
							{% if s10code.categoryItemS10codes | filter(item => item.categoryItem.id == 1 ) is not empty
							%}
							X
							{% endif %}
						</td>
						<td style="border-right: 1px #000 solid; padding-left:3px; vertical-align:middle">Gift</td>
						<td
							style="width: 20px; border-right: 1px #000 solid; border-bottom: 1px #000 solid; padding-left:5px;">
							{% if s10code.categoryItemS10codes | filter(item => item.categoryItem.id == 4 ) is not empty
							%}
							X
							{% endif %}
						</td>
						<td style="padding-left: 5px; vertical-align:middle;" colspan="3">Returned goods</td>
					</tr>
					<tr>
						<td style="width: 44px;"></td>
						<td style="width: 20px; border:1px #000 solid">
							{% if s10code.categoryItemS10codes | filter(item => item.categoryItem.id == 2 ) is not empty
							%}
							X
							{% endif %}
						</td>
						<td
							style="border-right: 1px #000 solid; padding-left:3px; vertical-align:middle; border-bottom:1px #000 solid;">
							Documents</td>
						<td
							style="width: 20px; border-right: 1px #000 solid; border-bottom: 1px #000 solid; padding-left:5px;">
							{% if s10code.categoryItemS10codes | filter(item => item.categoryItem.id == 6 ) is not empty
							%}
							X
							{% endif %}
						</td>
						<td style="padding-left: 5px; vertical-align:middle; border-bottom:1px #000 solid;">Other</td>
						<td style="width: 20px; border-bottom:1px #000 solid;"></td>
						<td style="border-bottom:1px #000 solid;">Explanation: {{s10code.categoryItemExplanation}} </td>
					</tr>
					{# Comments #}
					<tr>
						<td style="width: 44px;"></td>
						<td style="height: 40px; vertical-align:top; padding-left:5px; border-left: 1px #000 solid; border-bottom: 1px #000 solid;"
							colspan="6">Comments: {{s10code.comments}} </td>

					</tr>
					{# Licence #}
					<tr></tr>
					<td style="width: 44px;"></td>
					<td style="width: 20px; border:1px #000 solid">
						{% if s10code.categoryDocument and s10code.categoryDocument.id == 1 %}
						X
						{% endif %}
					</td>
					<td
						style="border-right: 1px #000 solid; padding-left:3px; vertical-align:middle; border-bottom:1px #000 solid;">
						Licence</td>
					<td
						style="width: 20px; border-right: 1px #000 solid; border-bottom: 1px #000 solid; padding-left:5px;">
						{% if s10code.categoryDocument and s10code.categoryDocument.id == 2 %}
						X
						{% endif %}
					</td>
					<td style="padding-left: 5px; vertical-align:middle; border-bottom:1px #000 solid;">Certificate</td>
					<td style="width: 20px; border:1px #000 solid;">
						{% if s10code.categoryDocument and s10code.categoryDocument.id == 3 %}
						X
						{% endif %}
					</td>
					<td style="border-bottom:1px #000 solid;">Invoice</td>
					</tr>
					<tr>
						<td style="width: 44px;"></td>
						<td style="height:40px; border-right: 1px #000 solid; border-left: 1px #000 solid; padding-left:5px; vertical-align:top; border-bottom:1px #000 solid;"
							colspan="2">No(s). of licence(s):<br>
							{% if s10code.categoryDocument and
							s10code.categoryDocument.id == 1 %}
							{{ s10code.categoryDocuentNumber }}
							{% endif %}</td>
						<td style="border-right: 1px #000 solid; border-left: 1px #000 solid; padding-left:5px; vertical-align:top; border-bottom:1px #000 solid;"
							colspan="2">No(s). of certificate(s):<br>
							{% if s10code.categoryDocument and
							s10code.categoryDocument.id == 2 %}
							{{ s10code.categoryDocuentNumber }}
							{% endif %}</td>
						<td style="border-right: 1px #000 solid; border-left: 1px #000 solid; padding-left:5px; vertical-align:top; border-bottom:1px #000 solid;"
							colspan="2">No(s). of invoice:<br>
							{% if s10code.categoryDocument and s10code.categoryDocument.id
							== 3 %}
							{{ s10code.categoryDocuentNumber }}
							{% endif %}</td>

					</tr>
					<tr>
						<td style="width: 44px;"></td>
						<td style="height: 70px; vertical-align:top; padding-left:5px; border-left: 1px #000 solid; "
							colspan="6">I certify that the particulars given in this customs are correct and that this
							item does not contain any dangerous article prohibited by legislation or by postal or
							customs regulations.</td>

					</tr>
					<tr>
						<td style="width: 44px;"></td>
						<td style="padding-left:5px; height:60px; border-left: 1px #000 solid; border-bottom:1px #000 solid; vertical-align:top;"
							colspan="3">Date and signature </td>
						<td style="padding-left:5px; border-bottom:1px #000 solid; vertical-align:top;" colspan="3">
							Declaration ID {{s10code.declarationIdentity}} </td>
					</tr>

				</table>
				<span style="font-size: 8px;  margin:0; padding:0 0 0 60px;">© Universal Postal Union, CDS</span>
			</div>
			<div style="display: inline-block;  margin-left:-4px; width:387px; height:510px">


				<table style="border-collapse: collapse; width:100%; border:1px #000 solid;">
					<thead>
						<tr>
							<th style="font-size: 12px; font-style:italic; border-bottom:1px #000 solid; border-right:1px #000 solid; text-align:left;"
								colspan="2">For commercial items only</th>
						</tr>
					</thead>
					<tr>
						<td
							style="font-size: 14px; border-bottom:1px #000 solid; border-right:1px #000 solid; padding-left:5px;">
							HS tariff number</td>
						<td
							style="font-size: 14px; border-bottom:1px #000 solid; border-right:1px #000 solid; padding-left:5px;">
							Country of origin of goods</td>
					</tr>
					<tr>
						<td
							style="border-bottom:1px #000 solid; border-right:1px #000 solid; padding-left:5px; height:20px;">
							0</td>
						<td
							style="border-bottom:1px #000 solid; border-right:1px #000 solid; padding-left:5px; height:20px;">
						</td>
					</tr>
					<tr>
						<td
							style="border-bottom:1px #000 solid; border-right:1px #000 solid; padding-left:5px; height:20px;">
						</td>
						<td
							style="border-bottom:1px #000 solid; border-right:1px #000 solid; padding-left:5px; height:20px;">
						</td>
					</tr>
					<tr>
						<td
							style="border-bottom:1px #000 solid; border-right:1px #000 solid; padding-left:5px; height:20px;">
						</td>
						<td
							style="border-bottom:1px #000 solid; border-right:1px #000 solid; padding-left:5px; height:20px;">
						</td>
					</tr>
					<tr>
						<td
							style="border-bottom:1px #000 solid; border-right:1px #000 solid; padding-left:5px; height:20px;">
						</td>
						<td
							style="border-bottom:1px #000 solid; border-right:1px #000 solid; padding-left:5px; height:20px;">
						</td>
					</tr>
					<tr>
						<td
							style="border-bottom:1px #000 solid; border-right:1px #000 solid; padding-left:5px; height:20px;">
						</td>
						<td
							style="border-bottom:1px #000 solid; border-right:1px #000 solid; padding-left:5px; height:20px;">
						</td>
					</tr>
				</table>
				<table
					style="border-collapse: collapse; width:100%; border-right:1px #000 solid; background-color:rgba(78, 78, 78, 0.158); ">
					<tr>
						<td style="font-size: 12px; color:white;  border-bottom:1px #000 solid; border-right:1px #000 solid; text-align:left; background-color:#000; height:20px;"
							colspan="2">Acceptance information</td>
					</tr>
					<tr>
						<td style="border-bottom:1px #000 solid; height:25px;">Item weight (kg)
							{{s10code.acceptanceInfItemWeight}} </td>
						<td style="text-align: right; border-bottom:1px #000 solid;"></td>
					</tr>
					<tr>
						<td style="border-bottom:1px #000 solid; height:25px;">Postal charges/Fees
							{{s10code.acceptanceInfPostalChargesFees}} </td>
						<td style="text-align: right; border-bottom:1px #000 solid;"></td>
					</tr>
					<tr>
						<td style="border-bottom:1px #000 solid; height:25px;">Insurance
							{{s10code.acceptanceInfInsurance}} </td>
						<td style="text-align: right; border-bottom:1px #000 solid;"></td>
					</tr>
					<tr>
						<td style="border-bottom:1px #000 solid; height:25px;">Total {{s10code.acceptanceInfTotal}}
						</td>
						<td style="text-align: right; border-bottom:1px #000 solid;"></td>
					</tr>
					<tr>
						<td style="border-bottom:1px #000 solid; height:25px;">Office {{s10code.acceptanceInfOffice}}
						</td>
						<td style="text-align: right; border-bottom:1px #000 solid;"> </td>
					</tr>
					<tr>
						<td
							style="border-bottom:1px #000 solid; border-right:1px #000 solid; width:220px; height:25px;">
							Date {{s10code.acceptanceInfDateTime|date('d/m/Y')}} </td>
						<td style="border-bottom:1px #000 solid;">Time {{s10code.acceptanceInfDateTime|date('H:i:s')}}
						</td>
					</tr>
					<tr>
						<td style="font-size: 14px; color:white;  border-bottom:1px #000 solid; border-right:1px #000 solid; text-align:left; background-color:#000; height:25px;"
							colspan="2">Delivery information</td>
					</tr>
					<tr>
						<td
							style="border-bottom:1px #000 solid; border-right:1px #000 solid; width:220px; height:25px;">
							Date </td>
						<td style="border-bottom:1px #000 solid;">Time </td>
					</tr>
					<tr>
						<td style="border-bottom:1px #000 solid; height:25px;">Person name
							{{s10code.deliveryInformationPersonName}} </td>
						<td style="text-align: right; border-bottom:1px #000 solid;"></td>
					</tr>
					<tr>
						<td style="border-bottom:1px #000 solid; height:64px; vertical-align:top;">signature
							{{s10code.deliveryInformationSignature}} </td>
						<td style="text-align: right; border-bottom:1px #000 solid;"></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

</body>

</html>