{% extends 'partials/main.html.twig' %}

{% set title = 'Listado de órdenes' %}

{% block stylesheets %}

    {{ parent() }}

    <!-- Sweet Alert css-->
    <link href="{{ asset('libs/sweetalert2/sweetalert2.min.css') }}" rel="stylesheet" type="text/css"/>

    <!--datatable css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css"/>
    <!--datatable responsive css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css"/>

    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">

{% endblock %}

{% block content %}

    {{ include('partials/page-title.html.twig', {title: title, page: 'Órdenes'}) }}

    <div class="row">
        <div class="col-lg-12">
            <div class="card" id="customerList">
                <div class="card-header d-flex align-items-center border border-bottom-dashed" id="card-buttons-actions">
                    <h4 class="card-title flex-grow-1 mb-0">{{ title }}</h4>
                    <div class="flex-shrink-0">
                        <button id="btn-remove" class="btn btn-danger me-1 btn-sm">
                            <i class="ri-eye-off-line me-1 align-bottom"></i>
                            <span data-key="t-landing">Anular órden</span>
                        </button>
                    </div>
                </div><!-- end cardheader -->
                <div class="card-body border border-dashed border-end-0 border-start-0">
                    <form>
                        <div class="row g-3">
                            <div class="col-xxl-5 col-sm-6">
                                <div class="search-box">
                                    <input type="text" class="form-control search"
                                           placeholder="Buscar...">
                                    <i class="ri-search-line search-icon"></i>
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-xxl-2 col-sm-6">
                                <div>
                                    <input type="text" class="form-control flatpickr-input" data-provider="flatpickr"
                                           data-date-format="d M, Y" data-range-date="true" id="demo-datepicker"
                                           placeholder="Seleccione el rango de fechas" readonly="readonly">
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-xxl-2 col-sm-4">
                                <div>
                                    <div class="choices" data-type="select-one" tabindex="0" role="listbox"
                                         aria-haspopup="true" aria-expanded="false">
                                        <select class="form-control"
                                                data-choices="" data-choices-search-false=""
                                                name="choices-single-default">
                                            <option value="all">Todos</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-xxl-2 col-sm-4">
                                <div>
                                    <div class="choices" data-type="select-one" tabindex="0" role="listbox"
                                         aria-haspopup="true" aria-expanded="false">
                                        <select class="form-control"
                                                data-choices="" data-choices-search-false=""
                                                name="choices-single-default">
                                            <option value="all">Todos</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-xxl-1 col-sm-4">
                                <div>
                                    <button type="button" class="btn btn-primary w-100" disabled><i
                                                class="ri-equalizer-fill me-1 align-bottom"></i>
                                        Filtrar
                                    </button>
                                </div>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </form>
                </div>
                <div class="card-body">
                    <div class="table-responsive mb-1">
                        <table class="table table-hover align-middle dt-responsive nowrap" id="datatablepage">
                            <thead class="table-light text-muted">
                            <tr>
                                <th class="sort" data-sort="id">ID</th>
                                <th class="sort" data-sort="orderId">API</th>
                                <th class="sort" data-sort="inventoryId">INVENTARIO</th>
                                <th class="sort" data-sort="statusOrder">ESTADO</th>
                                <th class="sort" data-sort="name">CLIENTE</th>
                                <th class="sort">FACTURA</th>
                                <th class="sort">TIPO DE PAGO</th>
                                <th class="sort" data-sort="dateCreated">CREADO</th>
                                <th class="sort" data-sort="dateUpdated">ACTUALIZADO</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody class="list form-check-all">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!--end col-->
    </div>

    <!-- Modal -->
    <div class="modal fade zoomIn" id="deleteRecordModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" id="deleteRecord-close"
                            data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <div class="mt-2 text-center">
                        <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop"
                                   colors="primary:#f7b84b,secondary:#f06548"
                                   style="width:100px;height:100px"></lord-icon>
                        <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                            <h4>¿Está seguro?</h4>
                            <p class="text-muted mx-4 mb-0">¿Está seguro de anular estos datos?</p>
                        </div>
                    </div>
                    <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                        <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn w-sm btn-danger " id="btn-remove-modal">Si, anular</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end modal -->

    <!-- Modal -->
    <div class="modal fade zoomIn" id="confirmRecordModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" id="deleteRecord-close"
                            data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <div class="mt-2 text-center">
                        <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop"
                                   colors="primary:#f7b84b,secondary:#f06548"
                                   style="width:100px;height:100px"></lord-icon>
                        <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                            <h4>¿Está seguro?</h4>
                            <p class="text-muted mx-4 mb-0">¿Está seguro de confirmar estos datos?</p>
                        </div>
                    </div>
                    <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                        <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn w-sm btn-danger " id="btn-confirm-modal">Si, confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end modal -->


{% endblock %}

{% block javascripts %}

    {{ parent() }}


    <script src="{{ asset('js/pages/plugins/lord-icon-2.1.0.js') }}"></script>
    <!-- Sweet Alerts js -->
    <script src="{{ asset('libs/sweetalert2/sweetalert2.min.js') }}"></script>

    <!--datatable js-->
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.5.0/js/dataTables.select.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let table = new DataTable('#datatablepage', {
                pagingType: "full_numbers",
                select: true,
                responsive:false,
                processing: true,
                serverSide: true,
                ajax: {
                    url: '{{ path('app_order_index') }}',
                    type: 'POST',
                },
                bSort: true,
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                order: [[0, 'desc']],
                columns: [
                    {data: 'id'},
                    {data: 'orderId'},
                    {data: 'inventoryId'},
                    {data: 'statusOrder'},
                    {data: 'name'},
                    {data: 'invoice_id'},
                    {data: 'payment_name'},
                    {data: 'dateCreated'},
                    {data: 'dateUpdated'},
                    {data: null},
                ],
                columnDefs: [
                    {
                        targets: 3,
                        render: function (data, type, row, meta) {
                            return data === 'ANULADO' ? '<span class="badge badge-soft-danger text-uppercase">ANULADO</span>' : '<span class="badge badge-soft-info text-uppercase">'+data+'</span>';
                        }
                    },
                    {
                        orderable: false,
                        targets: 5,
                        render: function (data, type, row, meta) {
                            return data != null ? '<a target="_blank" href="/uploads/payments/invoice/invoice-'+(data)+'-'+(row.orderId)+'.pdf"><span class="badge badge-soft-info text-uppercase">invoice-'+(data)+'-'+(row.orderId)+'.pdf</span></a>' : '<span class="badge badge-soft-danger text-uppercase">Sin factura</span>';
                        }
                    },
                    {
                        targets: 6,
                        render: function (data) {
                            return data ? '<span>' + data.split("T")[0] + '</span>' : data;
                        }
                    },
                    {
                        targets: 7,
                        render: function (data) {
                            return data ? '<span>' + data.split("T")[0] + ' <small class="text-muted">' + data.split("T")[1] + '</small></span>' : data;
                        }
                    },
                    {
                        orderable: false,
                        targets: -1,
                        defaultContent: '<div class="flex-shrink-0 ms-4"><ul class="list-inline tasks-list-menu2 mb-0"><li class="list-inline-item"><a href="#" class="text-muted d-inline-block btn-edit"><i class="ri-eye-line fs-16"></i></a></li><li class="list-inline-item"><a href="#" class="text-muted d-inline-block btn-new-invoice"><i class="ri-file-list-3-line fs-16"></i></a></li><li class="list-inline-item edit"><a href="#" class="text-muted d-inline-block btn-edit"> <i class="ri-edit-line fs-16"></i> </a></li><li class="list-inline-item"><a class="text-muted d-inline-block remove-item-btn" data-bs-toggle="modal" href="#deleteRecordModal"><i class="ri-delete-bin-2-line fs-16"></i></a></li></ul></div>'
                    }
                ],
                dom: 'Blfrtip',
                buttons: [
                    {
                        extend: 'selectAll',
                        text: '<i class="ri-checkbox-line me-1 align-bottom"></i> <span data-key="t-landing">Seleccionar todo</span>',
                        titleAttr: 'Seleccionar todo'
                    },
                    {
                        extend: 'selectNone',
                        text: '<i class="ri-checkbox-indeterminate-line me-1 align-bottom"></i> <span data-key="t-landing">Seleccionar ninguno</span>',
                        titleAttr: 'Seleccionar ninguno'
                    },
                ],
                initComplete: function () {
                    let dtButton = $('.dt-button');
                    dtButton.addClass('btn btn-secondary btn-sm');
                    dtButton.removeClass('dt-button');
                }
            });

            table.buttons().container().appendTo($('#card-buttons-actions'));

            $('#datatablepage tbody').on('click', '.btn-edit', function () {
                let data = table.row($(this).parents('tr')).data();
                window.location = '{{ path('app_order_index') }}' + data['id'] + '/show';
            });

            $('#datatablepage tbody').on('click', '.btn-new-invoice', function () {
                let data = table.row($(this).parents('tr')).data();
                window.location = '{{ path('app_invoice_new') }}/' + data['id'];
            });

            $('#btn-remove').on('click', function () {
                $('#deleteRecordModal').modal('show');
            });

            $('#btn-confirm').on('click', function () {
                $('#confirmRecordModal').modal('show');
            });

            $('#btn-remove-modal').on('click', function () {

                let selecteds = table.rows({selected: true}).data();

                let data = [];
                for (let i = 0; i < selecteds.length; i++) {
                    data.push(selecteds[i]['id']);
                }

                if (data.length > 0) {

                    let sData = data.join(',');

                    $.ajax({
                        type: 'DELETE',
                        url: '{{ path('app_order_delete_more') }}',
                        data: {'ids': sData},
                        success: () => {
                            window.location = '{{ path('app_order_index') }}'
                        },
                        error: (e) => {
                            window.location = '{{ path('app_order_index') }}'
                        },
                        always: () => {
                            $('#deleteRecordModal').modal('hide');
                        }
                    });

                } else {
                    $('#deleteRecordModal').modal('hide');
                }

            });

            $('#btn-confirm-modal').on('click', function () {

                let selecteds = table.rows({selected: true}).data();

                let data = [];
                for (let i = 0; i < selecteds.length; i++) {
                    data.push(selecteds[i]['id']);
                }

                if (data.length > 0) {

                    let sData = data.join(',');

                    $.ajax({
                        type: 'POST',
                        url: '{{ path('app_order_confirm') }}',
                        data: {'ids': sData},
                        success: () => {
                            window.location = '{{ path('app_order_index') }}'
                        },
                        error: (e) => {
                            window.location = '{{ path('app_order_index') }}'
                        },
                        always: () => {
                            $('#confirmRecordModal').modal('hide');
                        }
                    });

                } else {
                    $('#confirmRecordModal').modal('hide');
                }

            });


        });
    </script>

{% endblock %}
