{% extends 'partials/main.html.twig' %}

{% set title = 'Editar Orden' %}

{% block stylesheets %}

    {{ parent() }}

    <!-- Sweet Alert css-->
    <link href="{{ asset('libs/sweetalert2/sweetalert2.min.css') }}" rel="stylesheet" type="text/css"/>

{% endblock %}

{% block content %}

    {{ include('partials/page-title.html.twig', {page: 'Ordenes', title: title, titlephather: 'Listado de Ordenes', pathfather: 'app_order_index'}) }}

    <div class="row">

        <div class="col-xl-12 mb-3">
            <div class="d-flex align-items-lg-center flex-lg-row flex-column">
                <div class="flex-grow-1">
                    <h4 class="fs-16 mb-1">Sales ID: {{ order.orderId ~ ' Sales ID: ' ~ order.inventoryId|default('-') }}</h4>
                    <p class="text-muted mb-0">{{ order.dateCreated|date }}</p>
                </div>
                <div class="mt-3 mt-lg-0">
                    <div class="row g-3 mb-0 align-items-center">
                        <div class="col-auto">
                            <button id="btn-remove" type="button" class="btn btn-danger"><i
                                        class="ri-eye-off-line align-middle me-1"></i>
                                Anular orden
                            </button>
                        </div>
                        <!--end col-->
                        {% if order.statusOrder == 'Open' and order.invoice %}
                            <div class="col-auto">
                                <a href="{{ path('app_order_confirm_one', {'id': order.id}) }}" class="btn btn-success"><i
                                            class="ri-check-double-line align-middle me-1"></i>
                                    Confirmar orden
                                </a>
                            </div>
                        {% endif %}
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
            </div><!-- end card header -->
        </div>
        
        {% if order.fiscalInvoiceRequired is defined and order.fiscalInvoiceRequired is not null and order.fiscalInvoiceRequired == 1 %}
        <div class="col-xl-12 mt-3">                    
            <div class="alert alert-danger"><p>El cliente solicita factura con valor fiscal<p></div>
        </div>
        {% endif %}
        <!--end col-->

        <div class="col-xl-8">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h5 class="card-title flex-grow-1 mb-0">Orden #{{ order.orderId }}
                        </h5>
                        <div class="flex-shrink-0">
                            <a href="{{ path('app_invoice_new', {'id': order.id}) }}"
                               class="btn btn-secondary btn-sm"><i class="ri-download-2-fill align-middle me-1"></i>
                                Factura</a>
                        </div>
                    </div>
                    {% if order.paymentType is defined and order.paymentType is not null and (order.paymentType.id == 2 or order.paymentType.id==3) %}
                    <div class="mt-2">
                        <div class="alert alert-success">
                            Esta orden fue abonada por medio de la plataforma de pago CARDNET
                            <table class="table table-responsive">
                            <tbody>
                                <tr>
                                    <th>
                                        Session
                                    </th>
                                    <td>
                                        {{ cardnet.cardnet_session }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Session key
                                    </th>
                                    <td>
                                        {{ cardnet.cardnet_session_key }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Authorization code
                                    </th>
                                    <td>
                                        {{ cardnet.cardnet_authorization_code }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Tx token
                                    </th>
                                    <td>
                                        {{ cardnet.cardnet_tx_token }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Response code
                                    </th>
                                    <td>
                                        {{ cardnet.cardnet_response_code }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Creditcard number
                                    </th>
                                    <td>
                                        {{ cardnet.cardnet_creditcard_number }}
                                    </td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="card-body p-4">
                    <div class="table-responsive">
                        <table class="table table-borderless text-center table-nowrap align-middle mb-0" style="font-size:12px;">
                            <thead>
                            <tr class="table-active">
                                <th scope="col">#</th>
                                <th scope="col" class="text-start">Detalles del producto</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Moneda</th>
                                <th scope="col">Precio unitario</th>
                                <th scope="col">Descuento</th>
                                <th scope="col">Precio final prod.</th>
                                <th scope="col">Prod sin ITBIS.</th>
                                <th scope="col">ITBIS.</th>
                                <th scope="col" class="text-end">Total</th>
                            </tr>
                            </thead>
                            <tbody id="products-list">
                            {% set sumaPrecioTotalProductosRD = 0 %}
                            {% set sumaPrecioTotalProductosUSD = 0 %}

                            {% set subTotalProductosRD = 0 %}
                            {% set sutTotalITBISRD = 0 %}

                            {% set subTotalProductosUSD = 0 %}
                            {% set sutTotalITBISUSD = 0 %}

                            {% for k, p in order.products %}

                                {% set descuento = (p.cost / 100) * p.discount %}
                                {% set precioConDescuento = p.cost - descuento %}

                                {% if p.currency.id == 1  %} {#si es en RD#}
												
                                    {% set sumaPrecioTotalProductosRD = sumaPrecioTotalProductosRD + (((p.cost -((p.cost / 100) * p.discount)) / 1.18) * p.quantity)%} 

                                    {% set precioSinItbis = ((p.cost - descuento) / 1.18) %}
                                    {% set itbisRD = (precioConDescuento - precioSinItbis) %}
                                    {% set subTotalProductosRD = subTotalProductosRD + (precioSinItbis * p.quantity) %}
                                    {% set sutTotalITBISRD = sutTotalITBISRD + (itbisRD * p.quantity) %}
                                
                                {% else %}{#si es en USD#}

                                    {% set sumaPrecioTotalProductosUSD = sumaPrecioTotalProductosUSD + (((p.cost -((p.cost / 100) * p.discount))) * p.quantity)%} 

                                    {% set precioSinItbis = ((p.cost - descuento)) %}
                                    {% set itbisUSD = (precioConDescuento - precioSinItbis) %}
                                    {% set subTotalProductosUSD = subTotalProductosUSD + (precioSinItbis * p.quantity) %}
                                    {% set sutTotalITBISUSD = sutTotalITBISUSD + (itbisUSD * p.quantity) %}

                                {% endif %}
                                
                                <tr>
                                    <th scope="row">{{ k + 1 }}</th>
                                    <td class="text-start">
                                        <span class="fw-medium float-start me-1">3Pl-{{ p.productId3Pl }}</span>
                                        <p class="text-muted mb-0"> {{ p.name|slice(0, 100) }}...</p>
                                    </td>
                                    {# Cantidad #}
                                    <td>{{ p.quantity }}</td>
                                    <td>{{ p.currency.id == 1 ? 'Peso dominicano':'Dolar estadounidense' }}</td>

                                    {# <th scope="col">Precio unitario</th> #}
                                    <td>{{ p.currency.sign }} {{ p.cost|number_format(2) }}</td>

                                    {# <th scope="col">Descuento</th> #}
                                    <td>{{ p.currency.sign }} {{ descuento|number_format(2) }}</td>

                                    {# <th scope="col">Precio final prod.</th> #}
                                    <td>{{ p.currency.sign }} {{ precioConDescuento|number_format(2) }}</td>

                                    {# <th scope="col">Prod sin ITBIS.</th> #}
                                    <td>{{ p.currency.sign }} {{ precioSinItbis|number_format(2) }}</td>

                                    {# <td>{{ p.currency.sign }} {{ (p.cost / 1.18)|number_format(2) }}</td> #}
                                    {# <th scope="col">ITBIS</th> #}
                                    {% if p.currency.id == 1 %}{# si es RD #}
                                    <td>{{ p.currency.sign }} {{ itbisRD|number_format(2) }}</td>
                                    {% else %}{# si es USD #}
                                    <td>{{ p.currency.sign }} {{ itbisUSD|number_format(2) }}</td>
                                    {% endif %}
                                    <td class="text-end">{{ p.currency.sign }} {{ (precioConDescuento * p.quantity)|number_format(2) }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table><!--end table-->
                    </div>

                    {# {% set discount = (order.codePromoDiscount|number_format(2) + order.productDiscountRD|number_format(2))|number_format(2) %} #}
                    {% set discount = 0|number_format(2) %}
                    <div class="mt-4 float-start">
                        <h6 class="text-uppercase mb-3">Descuento promocional:
                            <span>${{ discount }}</span>
                        </h6>
                    </div>
                    <div class="border-top border-top-dashed mt-2">
                        <table class="table table-borderless table-nowrap align-middle mb-0 ms-auto"
                               style="width:350px">
                            <tbody>
                            <!--
                            <tr>
                                <td>Total parcial</td>
                                <td class="text-end">
                                    ${{ (invoice.partialRD|default(order.totalOrderRD + discount))|number_format(2) }}</td>
                            </tr>
                            -->
                            <tr>
                                <th scope="row">Delivery</th>
                                <td class="text-end">${{ (invoice.flete|default(0))|number_format(2) }}</td>
                            </tr>
                            {# <tr>
                                <th scope="row">Combustible</th>
                                <td class="text-end">${{ (invoice.fuel|default(0))|number_format(2) }}</td>
                            </tr> #}
                            <tr>
                                <th scope="row">Seguro</th>
                                <td class="text-end">${{ (invoice.sure|default(0))|number_format(2) }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Otros servicios</th>
                                <td class="text-end">${{ (invoice.otherService|default(0))|number_format(2) }}</td>
                            </tr>
                            <tr>
                                <td>Subtotal de productos en RD$</td>
                                <td class="text-end">${{ sumaPrecioTotalProductosRD|number_format(2) }}</td>
                            </tr>
                            <tr>
                                <td>ITBIS (18.00%)</td>
                                <td class="text-end">${{ order.taxRD|number_format(2) }}</td>
                            </tr>
                            <tr>
                                <td>Total de productos en RD$</td>
                                <td class="text-end">RD$ {{ order.totalOrderRD|number_format(2) }}</td>
                            </tr>
                            <tr class="border-top border-top-dashed fs-15">
                                {% if order.paymentType is defined and order.paymentType is not null and (order.paymentType.id == 2 or order.paymentType.id==3) %}
                                    <th scope="row">Abonado con CARDNET</th>
                                    <td class="text-end">
                                        RD$ -{{ order.totalOrderRD|number_format(2) }}
                                        </td>
                                </tr>

                                <tr>

                                    <th scope="row">Saldo Deudor de Prod en RD$</th>
                                    <td class="text-end">
                                        RD$ {{ '0,00'|number_format(2) }}</td>
                                    
                                {% else %}
                                    <th scope="row">Saldo Deudor en RD$</th>
                                    <td class="text-end">
                                        RD$ {{ (invoice.deudaRD|default(order.totalOrderRD))|number_format(2) }}</td>
                                {% endif %}
                            </tr>

                            {# ACA PARA ABAJO ES EN DOLARES #}
                            <tr class="border-top border-top-dashed fs-15">
                                <td>Subtotal de productos en US$</td>
                                <td class="text-end">US$ {{ sumaPrecioTotalProductosUSD|number_format(2) }}</td>
                            </tr>
                            <tr>
                                <td>Total de productos en US$</td>
                                <td class="text-end">US$ {{ order.totalOrderUSD|number_format(2) }}</td>
                            </tr>
                            <tr class="border-top border-top-dashed fs-15">
                                
                                    <th scope="row">Saldo Deudor en US$</th>
                                    <td class="text-end">
                                        US$ {{ (invoice.deudaUSD|default(order.totalOrderUSD))|number_format(2) }}
                                    </td>
                            </tr>

                            {# fin dolares #}
                            </tbody>
                        </table>
                        <!--end table-->
                    </div>
                    <div class="mt-4">
                        <label for="exampleFormControlTextarea1"
                               class="form-label text-muted text-uppercase fw-semibold">NOTAS</label>
                        <p class="form-control alert alert-info">Para transferencia bancaria: CUENTAS DE BANRESERVAS / CUENTA CORRIENTE DOP 9605649467.
                            <br/> Para conocer la Política de Garantía y RMA de MiaCargoPost puede ingresar en
                            www.bymiashop.com/RMA <br/> Si tiene alguna pregunta sobre esta factura,
                            contáctenos. ¡Gracias por confiar en MiaCargoPost!</p>
                    </div>
                </div>
            </div>
            <!--end card-->
        </div>
        <!--end col-->
        <div class="col-xl-4">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex">
                        <h5 class="card-title flex-grow-1 mb-0"><i
                                    class="mdi mdi-truck-fast-outline align-middle me-1 text-muted"></i>Detalles de
                            lógistica</h5>
                    </div>
                </div>
                <div class="card-body">
                    <div class="text-center mb-3">
                        <lord-icon src="https://cdn.lordicon.com/uetqnvvg.json" trigger="loop"
                                   colors="primary:#405189,secondary:#0ab39c" style="width:80px;height:80px">
                        </lord-icon>
                        <p class="text-muted mb-0">ID: {{ order.orderId }}</p>
                        <p class="text-muted mb-0">Sales ID: {{ order.inventoryId|default('-') }}</p>
                        <p class="text-muted mb-0">Estado: {{ order.statusOrder }}</p>
                        <p class="text-muted mb-0">Fecha: {{ order.orderDC|date }}</p>
                    </div>

                    {% if order.packages|length > 0 %}
                        <table class="table table-nowrap">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Datos</th>
                                <th scope="col">Courier</th>
                                <th scope="col">Servicio</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for k, p in order.packages %}
                                <tr>
                                    <th scope="row">{{ k + 1 }}</th>
                                    <td>{{ p.lb ~ 'lb, ' ~ p.height ~ 'h, ' ~ p.width ~ 'w' }}</td>
                                    <td>{{ p.courierName }}</td>
                                    <td>{{ p.serviceName }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}

                </div>
            </div>
            <!--end card-->
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">
                        <i class="ri-map-pin-line align-middle me-1 text-muted"></i> Destinatario
                    </h5>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled vstack gap-2 mb-0">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1 ms-3">
                                <h6 class="fs-15 mb-1">{{ order.shippingName }}</h6>
                                <p class="text-muted mb-0">{{ order.shippingDocumentType ~ ': ' ~ order.shippingDocument }}</p>
                            </div>
                        </div>
                        <li>
                            <i class="ri-phone-line me-2 align-middle text-muted fs-16"></i>{{ order.shippingPhoneCell ~ ', ' ~ order.shippingPhoneHome }}
                        </li>
                        <li><i class="ri-mail-line me-2 align-middle text-muted fs-16"></i> {{ order.shippingEmail }}
                        </li>
                        <li>
                            <i class="ri-map-pin-line me-2 align-middle text-muted fs-16"></i>{{ order.shippingCountryName ~ ', ' ~ order.shippingStateName ~ ', ' ~ order.shippingCityName ~ ', ' ~ order.shippingPostalCode }}
                        </li>
                        <li><i class="ri-map-line me-2 align-middle text-muted fs-16"></i>{{ order.shippingAddress }}
                        </li>
                    </ul>
                </div>
            </div>
            <!--end card-->
            <div class="card">
                <div class="card-header">
                    <div class="d-flex">
                        <h5 class="card-title flex-grow-1 mb-0">
                            <i class="ri-user-3-line align-middle me-1 text-muted"></i>
                            Detalles de cliente
                        </h5>
                        <div class="flex-shrink-0">
                            <a href="{{ path('app_customer_edit', {'id': order.customer.id}) }}" class="link-secondary">Ver
                                perfil</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled vstack gap-2 mb-0">
                        <li>
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1 ms-3">
                                    <h6 class="fs-15 mb-1">{{ order.customer.name ~ ' ' ~ order.customer.lastName }}</h6>
                                    <p class="text-muted mb-0">{{ order.customer.customerType }}</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <i class="ri-phone-line me-2 align-middle text-muted fs-16"></i>{{ order.customer.phone ~ ', ' ~ order.customer.cellPhone }}
                        </li>
                        <li><i class="ri-mail-line me-2 align-middle text-muted fs-16"></i> {{ order.customer.email }}
                        </li>
                        <li>
                            <i class="ri-map-pin-line me-2 align-middle text-muted fs-16"></i>{{ order.billCountryName ~ ', ' ~ order.billStateName ~ ', ' ~ order.billCityName ~ ', ' ~ order.billPostalCode }}
                        </li>
                        <li><i class="ri-map-line me-2 align-middle text-muted fs-16"></i>{{ order.billAddress }}</li>
                    </ul>
                </div>
            </div>
            <!--end card-->

        </div>
        <!--end col-->

    </div><!-- end row -->

    <!-- Modal -->
    <div class="modal fade zoomIn" id="deleteRecordModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" id="deleteRecord-close"
                            data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <div class="mt-2 text-center">
                        <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop"
                                   colors="primary:#f7b84b,secondary:#f06548"
                                   style="width:100px;height:100px"></lord-icon>
                        <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                            <h4>¿Está seguro?</h4>
                            <p class="text-muted mx-4 mb-0">¿Está seguro de anular estos datos?</p>
                        </div>
                    </div>
                    <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                        <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn w-sm btn-danger " id="btn-remove-modal">Si, anular</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end modal -->

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('js/pages/plugins/lord-icon-2.1.0.js') }}"></script>

    <!-- Sweet Alerts js -->
    <script src="{{ asset('libs/sweetalert2/sweetalert2.min.js') }}"></script>

    <script>

        $('#btn-remove').on('click', function () {

            $('#deleteRecordModal').modal('show');

        });

        $('#btn-remove-modal').on('click', function () {

            let data = ['{{ order.id }}'];

            let sData = data.join(',');

            $.ajax({
                type: 'DELETE',
                url: '{{ path('app_order_delete_more') }}',
                data: {'ids': sData},
                success: () => {
                    window.location = '{{ path('app_order_index') }}'
                },
                error: (e) => {
                    window.location = '{{ path('app_order_index') }}'
                },
                always: () => {
                    $('#deleteRecordModal').modal('hide');
                }
            });

        });

    </script>

{% endblock %}
