{% if order.paymentFiles and order.paymentFiles|length > 0 %}
    <div class="row justify-content-center">
        <div class="col-xxl-9">
            <div class="card">
                <div class="card-header align-items-center d-flex">
                    <h4 class="card-title mb-0 flex-grow-1">Pagos pendientes de revisión</h4>
                </div><!-- end card header -->
                <div class="card-body">
                    <div class="live-preview">
                        <div class="table-responsive">
                            <table class="table align-middle table-nowrap mb-0">
                                <thead>
                                <tr>
                                    <th scope="col">Archivo</th>
                                    <th scope="col">Validado</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for k, p in order.paymentFiles %}
                                    <tr>
                                        <td>
                                            <a class="text-primary d-inline-block" href="{{ p.payment_file is defined ? p.payment_file : p }}"
                                               target="_blank">
                                                <i class="ri-links-line align-bottom"></i> {{ p.payment_file is defined ? p.payment_file : p  }}
                                            </a>
                                        </td>
                                        <td>
                                            <span class="badge badge-soft-warning p-2">{{ p.validated is defined ? 'SI' : 'NO' }}</span>
                                        </td>
                                        <td>
                                            <button class="btn btn-sm btn-success {{ p.validated is defined ? 'disabled' : '' }}"
                                                    onclick="openPaymentPending('{{ k }}', '{{ p.payment_file is defined ? p.payment_file : p  }}')"><i
                                                        class="ri-bookmark-3-line align-bottom"></i> Validar pago
                                                externo
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!-- end card-body -->
            </div><!-- end card -->
        </div>
        <!-- end col -->
    </div>

    {% for k, p in order.paymentFiles %}
        {% if p.validated is defined %}
            {{ render(controller('App\\Controller\\Secure\\PaymentController::newPending', { 'id': invoice.id, 'k': k })) }}
        {% endif %}
    {% endfor %}

{% endif %}

<div class="row justify-content-center">
    <div class="col-xxl-9">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Pagos realizados</h4>
                {% if (invoice.deudaRD > 0 or invoice.deudaUSD > 0) or (invoice.statusInvoice == 'PAID' and payment_type == 2)%}
                    <div class="flex-shrink-0">
                        <div class="form-check form-switch form-switch-right form-switch-md">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#paymentModal"><i class="ri-currency-line me-1 align-bottom"></i>
                                Agregar pago
                            </button>
                        </div>
                    </div>
                {% endif %}
            </div><!-- end card header -->
            <div class="card-body">
                <div class="live-preview">
                    <div class="table-responsive">
                        <table class="table align-middle table-nowrap mb-0">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Moneda</th>
                                <th scope="col">Importe</th>
                                <th scope="col">Comprobante</th>
                                <th scope="col">Archivo</th>
                                <th scope="col">Tipo de pago</th>
                                <th scope="col">Nota</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for p in payments %}
                                <tr>
                                    <th scope="row">{{ p.id }}</th>
                                    <td>{{ p.currency.name }}</td>
                                    <td>{{ p.currency.id == 1? 'RD$':'US$' }} {{ p.amount|number_format(2) }}</td>
                                    <td>{{ p.voucher }}</td>
                                    <td>
                                        {% if p.voucherFile %}
                                            <a class="text-primary d-inline-block"
                                               href="{{ p.voucherFile }}"
                                               target="_blank"><i class="ri-file-list-line"></i></a>
                                        {% elseif p.voucherUrlFile %}
                                            <a class="text-primary d-inline-block"
                                               href="{{ p.voucherUrlFile }}"
                                               target="_blank"><i class="ri-file-list-line"></i></a>
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>{{ p.paymentType }}</td>
                                    <td>{{ (p.note|default(''))|slice(0, 10) }}...</td>
                                    <td>{{ p.dateCreated|date }}</td>
                                    <td>
                                        <a class="text-primary d-inline-block" href="#"><i
                                                    class="ri-download-cloud-2-line fs-16 me-2"></i></a>
                                        <a class="text-dangerd-inline-block"
                                           href="{{ path('app_payment_delete', {'id': p.id}) }}"><i
                                                    class="ri-delete-bin-5-fill fs-16"></i></a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr class="text-center">
                                    <td colspan="8">No existen pagos en esta factura</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <!-- end col -->
</div>

{{ render(controller('App\\Controller\\Secure\\PaymentController::new', { 'id': invoice.id })) }}