<div id="paymentModalPending{{ k }}" class="modal fade" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 overflow-hidden">

            <div class="modal-header p-3">
                <h4 class="card-title mb-0">Validar pago pendiente a la factura {{ invoice.order.orderId }}</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            {% if form_errors(form) %}
                <div class="alert alert-danger alert-label-icon alert-dismissible fade show" role="alert">
                    <i class="ri-error-warning-line label-icon"></i>
                    {{ form_errors(form) }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}

            <div class="modal-body">
                {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate', 'action': path('app_payment_new_pending', {'id': invoice.id, 'k': k}), 'method': 'post' }}) }}
                <div class="mb-3">
                    {{ form_row(form.currency) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.amount) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.paymentType) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.voucher) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.voucherUrlFile) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.note) }}
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary float-end"><i
                                class="ri-currency-line me-1 align-bottom"></i> Agregar
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->